.apexcharts-canvas line[stroke='transparent'] {
  display : none;
}

.apexcharts-canvas .apexcharts-tooltip {
  background : #FFFFFF;
  border-color : #EBE9F1;
}

.apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-title {
  background : #FFFFFF !important;
  border-color : #EBE9F1 !important;
  font-weight : 600;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-text-label, .apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-text-value {
  color : #FFFFFF;
}

.apexcharts-canvas .apexcharts-xaxistooltip, .apexcharts-canvas .apexcharts-yaxistooltip {
  background : #F8F8F8;
  border-color : #EBE9F1;
}

.apexcharts-canvas .apexcharts-xaxistooltip:after, .apexcharts-canvas .apexcharts-xaxistooltip:before, .apexcharts-canvas .apexcharts-yaxistooltip:after, .apexcharts-canvas .apexcharts-yaxistooltip:before {
  border-bottom-color : #F8F8F8;
}

.apexcharts-canvas .apexcharts-text, .apexcharts-canvas .apexcharts-tooltip-text, .apexcharts-canvas .apexcharts-datalabel-label, .apexcharts-canvas .apexcharts-datalabel {
  font-family : 'Cairo', sans-serif !important;
  fill : #6E6B7B;
  font-weight : 400;
  -webkit-filter : none;
          filter : none;
}

.apexcharts-canvas .apexcharts-pie-label {
  fill : white;
  -webkit-filter : none;
          filter : none;
}

.apexcharts-canvas .apexcharts-pie .apexcharts-pie-series .apexcharts-pie-area {
  stroke-width : 0;
}

.apexcharts-canvas .apexcharts-pie .apexcharts-datalabel-label, .apexcharts-canvas .apexcharts-pie .apexcharts-datalabel-value {
  font-size : 1.5rem;
}

.apexcharts-canvas .apexcharts-marker {
  box-shadow : none;
}

.apexcharts-canvas .apexcharts-legend-series + .apexcharts-legend-series {
  margin-top : 0.625rem;
}

.apexcharts-canvas .apexcharts-legend-series .apexcharts-legend-text {
  margin-right : 0.5rem;
  color : #6E6B7B !important;
  font-size : 1rem !important;
}

.apexcharts-canvas .apexcharts-xcrosshairs, .apexcharts-canvas .apexcharts-ycrosshairs, .apexcharts-canvas .apexcharts-gridline {
  stroke : #EBE9F1;
}

.apexcharts-legend.position-bottom {
  bottom : 3rem;
}

.dark-layout .apexcharts-canvas .apexcharts-xaxis-tick, .dark-layout .apexcharts-canvas line {
  stroke : #3B4253;
}

.dark-layout .apexcharts-canvas .apexcharts-heatmap .apexcharts-heatmap-rect {
  stroke : #3B4253;
}

.dark-layout .apexcharts-canvas .apexcharts-radialbar .apexcharts-radialbar-track .apexcharts-radialbar-area {
  stroke : #161D31;
}

.dark-layout .apexcharts-canvas .apexcharts-radar-series polygon {
  fill : #161D31;
  stroke : #3B4253;
}

.dark-layout .apexcharts-canvas .apexcharts-datalabels-group .apexcharts-datalabel-value {
  fill : #FFFFFF;
}

.dark-layout .apexcharts-canvas .apexcharts-tooltip {
  background : #283046;
  border-color : #3B4253;
}

.dark-layout .apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-title {
  background : #283046 !important;
  border-color : #3B4253 !important;
  color : #FFFFFF;
}

.dark-layout .apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-text-label, .dark-layout .apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-text-value {
  color : #FFFFFF;
}

.dark-layout .apexcharts-canvas .apexcharts-xaxistooltip, .dark-layout .apexcharts-canvas .apexcharts-yaxistooltip {
  background : #161D31;
  border-color : #3B4253;
}

.dark-layout .apexcharts-canvas .apexcharts-xaxistooltip:after, .dark-layout .apexcharts-canvas .apexcharts-xaxistooltip:before, .dark-layout .apexcharts-canvas .apexcharts-yaxistooltip:after, .dark-layout .apexcharts-canvas .apexcharts-yaxistooltip:before {
  border-bottom-color : #3B4253;
}

.dark-layout .apexcharts-canvas .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text, .dark-layout .apexcharts-canvas .apexcharts-xaxistooltip .apexcharts-yaxistooltip-text, .dark-layout .apexcharts-canvas .apexcharts-yaxistooltip .apexcharts-xaxistooltip-text, .dark-layout .apexcharts-canvas .apexcharts-yaxistooltip .apexcharts-yaxistooltip-text {
  color : #FFFFFF;
}

.dark-layout .apexcharts-canvas .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text {
  color : #FFFFFF;
}

.dark-layout .apexcharts-canvas .apexcharts-yaxis-label, .dark-layout .apexcharts-canvas .apexcharts-xaxis-label, .dark-layout .apexcharts-canvas .apexcharts-tooltip-text, .dark-layout .apexcharts-canvas .apexcharts-datalabel-label {
  fill : #B4B7BD;
}

.dark-layout .apexcharts-canvas .apexcharts-marker {
  stroke : #3B4253;
}

.dark-layout .apexcharts-canvas .apexcharts-legend-series .apexcharts-legend-text {
  color : #B4B7BD !important;
}

.dark-layout .apexcharts-canvas .apexcharts-xcrosshairs, .dark-layout .apexcharts-canvas .apexcharts-ycrosshairs, .dark-layout .apexcharts-canvas .apexcharts-gridline {
  stroke : #3B4253;
}