.invoice-list-wrapper .dataTables_wrapper .dataTables_length label, .invoice-list-wrapper .dataTables_wrapper .dataTables_filter label {
  margin-top : 0.55rem;
}

.invoice-list-wrapper .dataTables_wrapper .dataTables_length select {
  margin-left : 0.5rem;
}

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:before, .invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:after {
  left : auto;
}

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:last-child:before, .invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:last-child:after {
  display : none;
}

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table tbody .control:before {
  background-color : #D5A060;
  line-height : 1rem;
  font-family : 'Montserrat', Helvetica, Arial, serif;
}

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table tbody .col-actions a:not(.dropdown-item) {
  color : #6E6B7B;
}

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table tbody .col-actions .dropdown .dropdown-item {
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display :         flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -ms-flex-align : center;
          align-items : center;
}

@media (max-width: 470px) {
  .invoice-list-wrapper .invoice_status {
    margin-top : 1rem;
    width : 100%;
  }
  .invoice-list-wrapper .invoice_status select {
    margin-left : 0 !important;
  }
}

.dtr-bs-modal .modal-header {
  -webkit-box-orient : horizontal;
  -webkit-box-direction : reverse;
  -webkit-flex-direction : row-reverse;
      -ms-flex-direction : row-reverse;
          flex-direction : row-reverse;
}

.dtr-bs-modal .modal-body {
  padding-left : 0;
  padding-right : 0;
}

.dtr-bs-modal .modal-body .table tr td {
  border-color : #EBE9F1;
}

.dtr-bs-modal .modal-body .table tr td .col-actions a:not(.dropdown-item) {
  color : #6E6B7B;
}