.faq-search {
  background-size : cover;
  background-color : rgba(213 ,160, 96, 0.12) !important;
}

.faq-search .faq-search-input .input-group:focus-within {
  box-shadow : none;
}

.faq-contact .faq-contact-card {
  background-color : rgba(186, 191, 199, 0.12);
}

@media (min-width: 992px) {
  .faq-search .card-body {
    padding : 8rem !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .faq-search .card-body {
    padding : 6rem !important;
  }
}

@media (min-width: 768px) {
  .faq-search .faq-search-input .input-group {
    width : 576px;
    margin : 0 auto;
  }
  .faq-navigation {
    height : 550px;
  }
}