@media only screen and (max-width:1200px) and (min-width:993px) {
    .top-link {
        font-size: 14px;
    }
}

@media only screen and (max-width:992px) {
    .hover_btn {
        left: 0;
        right: auto;
    }

    .product-div:hover .hover_btn {
        left: 100%;
    }
}
@media only screen and (max-width:576px) {
.full-search .custom-btn {
    margin-left: auto;
}
}