.ha-logo {
    width: 129px;
    margin-bottom: -18px;
}

.ha-logo path,
.ha-logo circle {
    fill: none;
    stroke: #C36F09;
    stroke-width: 0.125px;
    stroke-linejoin: round;
}

.ha-logo path.house,
.ha-logo circle.house {
    stroke-linecap: round;
    stroke-width: 0.3px;
}

.ha-logo circle {
    animation: nodes 6s linear infinite;
    -webkit-animation: nodes 6s linear infinite;
}

.ha-logo .house {
    animation: house 6s ease infinite;
    -webkit-animation: house 6s ease infinite;
}

.ha-logo .circut {
    animation: circut 6s cubic-bezier(0.7, 0.1, 0.1, 0.9) infinite;
    -webkit-animation: circut 6s cubic-bezier(0.7, 0.1, 0.1, 0.9) infinite;
}

@keyframes house {
    0% {
        stroke-dashoffset: -50;
        stroke-dasharray: 50 50;
    }

    45% {
        stroke-dashoffset: -100;
    }

    50% {
        stroke: #C36F09;
    }

    60% {
        stroke: white;
    }

    75% {
        stroke: #C36F09;
    }

    80% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: -130;
        stroke-dasharray: 50 50;
    }
}

@-webkit-keyframes house {
    0% {
        stroke-dashoffset: -50;
        stroke-dasharray: 50 50;
    }

    45% {
        stroke-dashoffset: -100;
    }

    50% {
        stroke: #C36F09;
    }

    60% {
        stroke: white;
    }

    75% {
        stroke: #C36F09;
    }

    80% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: -130;
        stroke-dasharray: 50 50;
    }
}

@keyframes circut {
    0% {
        stroke-dasharray: 20 20;
        stroke-dashoffset: -20;
    }

    13% {
        stroke-dashoffset: -20;
    }

    50% {
        stroke-dashoffset: -40;
        stroke: #C36F09;
    }

    60% {
        stroke: white;
    }

    70% {
        stroke: #C36F09;
    }

    85% {
        stroke-dashoffset: -40;
    }

    100% {
        stroke-dashoffset: -60;
        stroke-dasharray: 20 20;
    }
}

@-webkit-keyframes circut {
    0% {
        stroke-dasharray: 20 20;
        stroke-dashoffset: -20;
    }

    13% {
        stroke-dashoffset: -20;
    }

    50% {
        stroke-dashoffset: -40;
        stroke: #C36F09;
    }

    60% {
        stroke: white;
    }

    70% {
        stroke: #C36F09;
    }

    85% {
        stroke-dashoffset: -40;
    }

    100% {
        stroke-dashoffset: -60;
        stroke-dasharray: 20 20;
    }
}

@keyframes nodes {
    0% {
        stroke-dasharray: 0 4;
    }

    25% {
        stroke-dasharray: 0 4;
    }

    35% {
        stroke-dasharray: 4 0;
        stroke: #C36F09;
    }

    41% {
        fill: none;
    }

    42% {
        fill: #C36F09;
    }

    55% {
        fill: none;
        stroke: #C36F09;
    }

    65% {
        fill: white;
        stroke: white;
    }

    75% {
        stroke: #C36F09;
        fill: none;
        stroke-dasharray: 4 0;
    }

    85% {
        fill: #C36F09;
        stroke: #C36F09;
    }

    93% {
        fill: none;
        stroke-dasharray: 4 0;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -4;
        stroke-dasharray: 0 4;
    }
}

@-webkit-keyframes nodes {
    0% {
        stroke-dasharray: 0 4;
    }

    25% {
        stroke-dasharray: 0 4;
    }

    35% {
        stroke-dasharray: 4 0;
        stroke: #C36F09;
    }

    41% {
        fill: none;
    }

    42% {
        fill: #C36F09;
    }

    55% {
        fill: none;
        stroke: #C36F09;
    }

    65% {
        fill: white;
        stroke: white;
    }

    75% {
        stroke: #C36F09;
        fill: none;
        stroke-dasharray: 4 0;
    }

    85% {
        fill: #C36F09;
        stroke: #C36F09;
    }

    93% {
        fill: none;
        stroke-dasharray: 4 0;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -4;
        stroke-dasharray: 0 4;
    }
}

.ha-logo circle:nth-child(1n) {
    animation-delay: -0.054s;
}

.ha-logo circle:nth-child(2n) {
    animation-delay: -0.108s;
}

.ha-logo circle:nth-child(3n) {
    animation-delay: -0.162s;
}

.ha-logo circle:nth-child(4n) {
    animation-delay: -0.216s;
}

.ha-logo circle:nth-child(5n) {
    animation-delay: -0.27s;
}

.ha-logo circle:nth-child(6n) {
    animation-delay: -0.324s;
}

.ha-logo circle:nth-child(7n) {
    animation-delay: -0.378s;
}

.ha-logo circle:nth-child(8n) {
    animation-delay: -0.432s;
}

.ha-logo circle:nth-child(9n) {
    animation-delay: -0.486s;
}

.ha-logo circle:nth-child(10n) {
    animation-delay: -0.54s;
}

.ha-logo circle:nth-child(11n) {
    animation-delay: -0.594s;
}

.ha-logo circle:nth-child(12n) {
    animation-delay: -0.648s;
}

.ha-logo circle:nth-child(13n) {
    animation-delay: -0.702s;
}

.ha-logo circle:nth-child(14n) {
    animation-delay: -0.756s;
}


.loading.active .car-load {
    transform-origin: center;
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}


.owner-type {
    background-image: url(../images/icons/3.png);
}

.hover_btn {
    width: 58px;
    height: 44px;
    line-height: 65px;
    left: 0;
    bottom: -50px;
}

.hover_btn:before{
    background-image: url(../images/main/home.png);

}
.hover_btn span {
    margin-right: 0;

}

/* .hover_btn:before{
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    border: 20px solid transparent;
    border-bottom-color: #2b2b2b;
} */

.product-div:hover .hover_btn {
    bottom: 2px;
    transition-delay: .2s;
}


.pages-header .row {
    background-image:url(../images/main/header_bg.png) ;
}


.commission-div{
    background-image: url(../images/login/login_bg2.png);
}

.login-pg {
    background-image: url(../images/login/login_bg.png);
}

.full-search .custom-btn {
    width: 108px;
}

