.dark_theme .custom-colors {
    background: #e8e8e8;
    color: #2b2b2b;
    box-shadow: 0 0 3px #777;
}

.dark_theme {
    background: #222;
}

.dark_theme header {
    background: #222;
}

.dark_theme .first_color {
    color: #fff;
}

.dark_theme footer,
.dark_theme .owner-type,
.dark_theme .footer-list a,
.dark_theme .product-div:hover .product-description li {

    color: #A49E9E;
}

.dark_theme .icon-img {
    background: #fff;
    color: #222;
}

.dark_theme .owner-type,
.dark_theme .hover_btn:before {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.dark_theme .hover_btn span {
    width: 58px;
    color: #222;
}

.footer-list a:hover {
    color: #fff;
}

.dark_theme .product-div:after {
    border-color: #A49E9E;
}

.dark_theme .product-div:before {
    background: #333;
}

.dark_theme .top-link {
    border-color: #333;
    background: #333;
    color: #fff;
}

.dark_theme .top-link:not(:last-of-type) {
    border-color: #fff;
    color: #fff;
}

.dark_theme .top-link:hover {
    background: #fff;
    color: #222;
}

.dark_theme .scroll_progress div {
    background: #333;
    border-color: #444;
}

.dark_theme .main-logo:before,
.dark_theme .footer-logo a::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(100% + -1px);
    background: #fff;
    right: 0;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dark_theme .footer-logo a::before {
    top: -4px;
    width: calc(100% + 11px);
    right: -5px;
    height: calc(100% + 8px);

}

.dark_theme .product-div:hover .product-price {
    background: #C36F09;
}

.dark_theme .custom-btn a .back:after {
    background: #222;
}

/* .dark_theme .main-logo:before,
.dark_theme .footer-logo a::before,
.dark_theme,
.dark_theme header {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
} */

.dark_theme .slider,
.dark_theme .pages-header .row {
    border-color: #A49E9E;
}

.dark_theme .border-btn::before {
    border-top-color: #A49E9E;
    border-left-color: #A49E9E;
}

.dark_theme .border-btn::after {
    border-bottom-color: #A49E9E;
    border-right-color: #A49E9E;
}

.dark_theme .border-btn span {
    color: #fff;
}

.dark_theme .side-jssor-menu-itemav .t {
    border-color: #fff;
}

.dark_theme .light-bg .owner-type {
    filter: none;
    -webkit-filter: none;
}

.dark_theme .add-product-form .custom-checkbox input:checked~label {
    color: #A49E9E;
}

.dark_theme .add-product-form .circle-checkbox input~label {
    color: #A49E9E;
}

.dark_theme .add-product-form .circle-checkbox input:checked~label {
    color: #C36F09;
}

.dark_theme .holder a:not([href]):not([tabindex]):not(.jp-next) {
    color: #fff;
}

.dark_theme .notifiction-main-div a {
    color: #A49E9E;
}

.dark_theme .delete-btn {
    border-color: #A49E9E;
    color: #A49E9E;
}

.dark_theme .delete-btn:hover {
    color: #fff;
}

.dark_theme .contact-main-list li a {
    color: #A49E9E;
}

.dark_theme .contact-main-list li a i,
.dark_theme .chat-owner {
    box-shadow: 0 3px 6px #171717;
}

.dark_theme .contact-socialmedia a:hover {
    color: #A49E9E;
    border-color: #A49E9E;
}

.dark_theme .main-chat {
    border-color: #282828;
    background: #282828;
}

.dark_theme .chat-content-list {
    background: #333;
    border-left-color: #333;
}

.dark_theme .chat-bubble,
.dark_theme .chat-owner {
    background: #3b3b3b;
}

.dark_theme .reciever .chat-bubble {
    background: #585757;
}

.dark_theme .online .side-contact-chat p {
    color: #fff;
}

.dark_theme .chat-pg .hirozintal-scroll::-webkit-scrollbar-track {
    background-color: #222;
}

.dark_theme .chat-pg .hirozintal-scroll::-webkit-scrollbar {
    background-color: #222;

}

.dark_theme .chat-pg .hirozintal-scroll::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
}

.dark_theme .chat-search .form-control {
    background: #282828
}

.dark_theme .ch-att textarea {
    background: #333;
    color: #d5a060;
}

.dark_theme .chat-pg .custom-btn a:hover .back,
.dark_theme .chat-pg .custom-btn button:hover .back {
    background: #3b3b3b;

}

@media only screen and (max-width: 992px) {
    .dark_theme .search-grid {
        background: #333;
    }

    .dark_theme .fixed-menu a,
    .dark_theme .fixed-menu button {
        color: #fff;
    }

    .dark_theme .fixed-menu {
        background: #333;
        border-top-color: #222;
    }

    .dark_theme .fixed-menu .col:not(:last-of-type) {
        border-left-color: #222;
    }

    .dark_theme .fixed-menu .active {
        background: #111;
    }

    .dark_theme .scroll_progress div {
        background: #333;
        border-color: #A49E9E;
    }
}

@media only screen and (max-width: 576px) {
    .dark_theme .full-search {
        background: #333;
    }

    .dark_theme .main-logo:before {
        width: 200px;
        left: 0;
        margin: auto;
    }


}