.time-picker {
    display:flex;
    align-items:center;
    margin:0 auto;
    justify-content:space-evenly;
  }
  .tp-col {
    display:flex;
    flex-direction:column;
    align-items: center;
    color: #7aaba1;

  }
  .tp-hr>span,.tp-min>span {
    padding:4px 4px ;
    border-radius:4px;
    text-align:center;
    font-size:15pt;
    color: #7aaba1;
    margin: 20px;
  }
  .tp-up-arrow,.tp-down-arrow {
    cursor:pointer;
    width:15px;
    height:15px;
  }
  .tp-am-pm {
    cursor:pointer;
    display:block;
    padding:6px 3px;
    border-radius:5px;
    background: #2b2b2b;
    color: #fff;
    min-width: 33px;
    font-size: 14px;
  }
  .tp-am-pm:hover {
    background:#7aaba1;
  }
  
  
  .ui-datepicker-header {
    height: 35px;
    line-height: 35px;
    color: #1a051d;

    background: #fff;
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  .ui-datepicker-prev {
    float: left;
    margin-left: 12px;
    text-align: left;
  }
  .ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
  }
  .ui-datepicker-next {
    float: right;
    margin-right: 12px;
    text-align: right;
  }
  .ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
  }
  .ui-datepicker-prev:after,
  .ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #b0aead;
    border-bottom: 2px solid #b0aead;
  }
 
  .ui-datepicker-title {
    text-align: center;
  }
  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
  }
  .ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: #999;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .ui-state-default {
    display: block;
    text-decoration: none;
    color: #1a051d;
    line-height: 40px;
    font-size: 12px;
  }

  .ui-state-default:hover{
    color: black;
  }
  .ui-state-default:hover {
    background: rgba(0,0,0,0.02);
  }
  .ui-state-highlight {
   background:#C36F09;
   border-radius: 50%;
   color: #fff;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
  .ui-state-active {
    background: #2b2b2b;
    
   border-radius: 50%;
   color: #fff;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
  }
  .ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
  }

    .ui-datepicker-prev:before{
      content: "";
      content: "\f053";
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
      z-index: 1;
      font-size: 12px;
      color: #1a051d;
      }

      .ui-datepicker-next:before{
        content: "";
        content: "\f054";
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;
        z-index: 1;
        font-size: 12px;
        color: #1a051d;
        }

      .ui-widget-header{
        background: #fff;
        border: none;
        padding-top: 10px;
        margin-bottom: 20px;
      }

      .ui-datepicker-calendar thead {
        border-bottom: 1px dashed #2b2b2b;
    }

   

    .ui-datepicker{
      box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
            border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      margin-top: 5px;
      overflow: hidden;
      padding: 0 10px;
      background: #fff;
      display: none;
}