/*start footer*/
footer{
    color: #4A4A4A;
    border-top: 2px solid #CECECE;
    padding:40px 0 30px;
    font-size: 16px;
    margin-top: 20px;
    position: relative;
}



.copyright,.copyright a{
    color: #A49E9E;
}
.copyright a img{
    margin-right: 4px;
}
.copyright a:hover{
    color: #DC3230;
}

.copyright{
    margin: 10px auto 20px;
    padding-top: 20px;
    border-top: 1px solid #CECECE;
}

.footer-logo {
    position: relative;
    padding-right: 200px;
    max-width: 570px;
    line-height: 27px;
}
.footer-logo-grid a{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 182px;
    display: inline-block;
}
footer .row > div{
    margin: 10px auto;
}
.footer-lists-grid{
    padding-left: 25px;
}
.footer-list a{
    color:#4A4A4A;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    padding-right: 14px;
    padding-left: 10px;
}


.footer-list li a::before{
    content: "";
    top: 9px;
    width: 10px;
    height: 10px;
    border:2px solid #C36F09;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 0;
    z-index: -1;
}

.footer-list li a::after {
    content: "";
    top: 1px;
    width: 10px;
    height: 25px;
    background-color: #C36F09;
    position: absolute;
    right: -5px;
    z-index: -2;
    opacity: 0;
}
.footer-list a:hover:after{
    opacity: 1;
   width: 100%;
}
.footer-list a:hover:before{
    border-color: #fff;
}
.footer-list a:hover{
    color: #fff;
}
.socialmedia{
   position: absolute;
   left: 15px;
   top: 70%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}
.socialmedia li a{
    display: inline-block;
    position: relative;
    text-align: left;
    z-index: 1;
    overflow: hidden;
    width: 150px;
    color: #D5A060;
    height: 30px;

}


.socialmedia i{
    font-size: 20px;
    position: absolute;
    top: 4px;
    left:2px;
}
.socialmedia li span{
    position: absolute;
    width: 140px;
    left:0px;
    background: #2b2b2b;
    text-align: right;
    padding:4px 30px 5px 5px;
    color: #fff;
    font-size: 12px;
    opacity: 0;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transition: opacity .5s linear,transform .5s linear ;
    -webkit-transition: opacity .5s linear,transform .5s linear ;
    -moz-transition: opacity .5s linear,transform .5s linear ;
    -ms-transition: opacity .5s linear,transform .5s linear ;
    -o-transition: opacity .5s linear,transform .5s linear ;
    z-index: -999;
}

.socialmedia li a:hover span{
    z-index: -1;
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.socialmedia li a:hover{
    color: #fff;
}

.socialmedia a:hover i{
    left:calc(100% - 33px);
}
/*end footer*/