/*start gerneral styles*/


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    --scrollbarBG: #ddd;
    --thumbBG: #222;
    height: 100%;
}

@font-face {
    font-family: "light";
    src: url("../fonts/Cairo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "bold";
    src: url("../fonts/Cairo-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0 auto;
    padding: 0;
    font-family: "light";
    scrollbar-width: thin;
    text-align: right;
    direction: rtl;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.no-trans *:not(.loading *) {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    animation: none !important;
    -webkit-animation: none !important;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}



body::-webkit-scrollbar {
    width: 11px;
}


::selection {
    background-color: #2b2b2b;
    color: #D5A060
}

.animatefade {
    opacity: 1;
}

i {
    margin-left: 7px;
}

a,
button {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

label {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    color: #4C5354;
}

a:focus,
button:focus,
button:active,
select:focus,
input:focus {
    outline: 0 none;
}

p {
    color: #A49E9E;
    font-size: 16px;
    line-height: 28px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 17px;
    line-height: 28px;
}

h4 {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal
}

.no-full-images .owl-item img {
    width: auto
}

ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
}

.list-unstyled li {
    display: block;
}

img,
object {
    max-width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}


.html5-title {
    display: none;
}


input,
button {
    font-family: "light";
}

select.form-control:not([size]):not([multiple]) {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0
}

.select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.select2-container--bootstrap4 .select2-selection--single {
    height: 40px !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-right: 5px;
    margin-left: 0;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    padding: 0 0 0 5px;
    float: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    width: auto;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 3px;
    margin-left: 1px;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    float: right;
    border: none;
    background: none;
}

.select2.select2-container.select2-container--bootstrap4.select2-container--focus .select2-selection__choice {
    color: #fff;
}

.form-control {
    background: #fff;
    box-shadow: none;
    height: 40px;
    width: 100%;
    color: #C36F09;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "light";
    font-size: 15px;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select2-container--bootstrap4 .select2-selection {
    border: 1px solid #AEAEAE;
    background-color: #fff;
    color: #AEAEAE;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select2-results__option {
    padding: 10px 6px;
    border-bottom: 1px solid #eee;
}

.select2-results__option:last-of-type {
    border-bottom: none;
}

.form-control.select-input {
    color: #AEAEAE;
}

.form-control:focus,
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: #2b2b2b;
    box-shadow: none;
    border-color: #2b2b2b;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background-color: #2b2b2b;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #AEAEAE;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #AEAEAE;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #AEAEAE;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #AEAEAE;
}


.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #AEAEAE;
}


textarea.form-control {
    min-height: 150px;
    padding-top: 15px;
}

.big-inputs .select2-container--bootstrap4 .select2-selection--multiple {
    min-height: 50px !important;
}

.big-inputs .form-control,
.big-inputs .big-inputs .select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.big-inputs .select2-container--bootstrap4 .select2-selection--single,
.big-inputs select.form-control:not([size]):not([multiple]) {
    height: 50px !important;
}


.no-marg-row {
    padding: 0;
    margin: 0
}

.starrisk {
    color: red
}


a,
.product-div:before,
.product-img,
.product-description li,
.product-price,
button,
.slide-link,
.num,
.form-control,
.slider-caption,
img,.avatar-upload .avatar-edit label,
.product-note div,
.socialmedia i,.attach-file,.attach-file label {
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
}

h1,
h2,
h3,
h4,
.footer-list li a::after,
h5,
p,.white-checkbox  input~label,
.product-icon,
.custom-colors,.arrow-profile-text:before,
.favourite-checkbox {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
}

.category-content:after,
.arrow-link,
.category-content:before,
.category-content .img:before {
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.owl-dot span:before {
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -ms-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.custom-checkbox {
    position: relative;
    display: inline-block;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -9999;
}

.custom-checkbox input~label {
    position: relative;
    color: #AEAEAE;
    cursor: pointer;
    padding-right: 25px;
}

.custom-checkbox input~label.second_color {
    color: #C36F09;
}

.custom-checkbox input~label:before {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: solid 1px #C36F09;
    display: inline-block;
    top: 4px;
    position: absolute;
    right: 0;
}

.custom-checkbox input~label:after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    font-size: 15px;
    top: 4px;
    position: absolute;
    color: #C36F09;
    opacity: 0;
    right: 2px;
    display: inline-block;
}

.custom-checkbox input:checked~label:before {
    background: #2b2b2b;
    border-color: #2b2b2b;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.custom-checkbox input:checked~label:after {
    opacity: 1;
    animation: rotateIn .3s linear both;
    -webkit-animation: rotateIn .3s linear both;
}

.custom-checkbox input:checked~label {
    color: #2b2b2b;
}
.circle-checkbox input~label{
    color: #2b2b2b;
}

.circle-checkbox input~label:before {
    border-color: #A49E9E;
}
.circle-checkbox input~label::after,
.circle-checkbox input~label:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.circle-checkbox input:checked~label:before {
    background: transparent;
    border-color: #C36F09;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.circle-checkbox input~label::after {
    content: "";
    height: 14px;
    width: 14px;
    background: #C36F09;
    top: 7px;
    right:3px;
}
.circle-checkbox input:checked~label:after {
    animation: zoomIn .1s linear both;
    -webkit-animation: zoomIn .1s linear both;
}
.circle-checkbox input:checked~label{
    color: #C36F09;
}


.gray-bg {
    background-color:#F8F8F8
}
.white-bg {
    background-color:#fff
}
.margin-div {
    padding-top: 50px;
    padding-bottom: 50px;

}

.margin-bottom-div {
    margin-bottom: 50px;
}


.dark-text {
    color: #2B2B2B
}

.white-text {
    color: #fff
}


.full-width-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: top center;

}

.converted-img {
    display: none !important
}

.has_seudo {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.has_seudo:before,
.has_seudo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    right: 0;

}


b {
    font-family: "bold"
}


.tooltip-inner {
    background-color: #2B2B2B;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #2B2B2B;
}

.big-raduis {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.sm-raduis {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.hirozintal-scroll {
    overflow-x: hidden;
    overflow-y: auto
}

.hirozintal-scroll::-webkit-scrollbar-track {
    background-color: #191919;
}

.hirozintal-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #191919;

}

.hirozintal-scroll::-webkit-scrollbar-thumb {
    background-color: #444;
}


.custom-btn {
    position: relative;
    width: 100%;
    max-width: 160px;
    height: 48px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px;
    display: inline-block;
}

.custom-btn a,
.custom-btn button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    -ms-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    cursor: pointer;
    border: none;
    background: none;
    top: 0;
}

.custom-btn .front,
.custom-btn .back {
    margin: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: 0;
}

.custom-btn .front {
    background-color: #D5A060;
    color: #fff;
    -webkit-transform: rotateY(0) translateZ(24px);
    -moz-transform: rotateY(0) translateZ(24px);
    -o-transform: rotateY(0) translateZ(24px);
    -ms-transform: rotateY(0) translateZ(24px);
    transform: rotateY(0) translateZ(24px);
}

.custom-btn .back {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(34, 34, 34, 0);
    -webkit-transform: rotateX(90deg) translateZ(24px);
    -moz-transform: rotateX(90deg) translateZ(24px);
    -o-transform: rotateX(90deg) translateZ(24px);
    -ms-transform: rotateX(90deg) translateZ(24px);
    transform: rotateX(90deg) translateZ(24px);
    overflow: hidden;
}

.custom-btn .back:after {
    content: '';
    position: absolute;
    top: -32%;
    left: -10%;
    width: 120%;
    height: 50%;
    background: #fff;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    transition-delay: 0.15s;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.custom-btn a:hover,
.custom-btn button:hover {
    -webkit-transform: translateZ(-24px) rotateX(-90deg);
    -moz-transform: translateZ(-24px) rotateX(-90deg);
    -o-transform: translateZ(-24px) rotateX(-90deg);
    -ms-transform: translateZ(-24px) rotateX(-90deg);
    transform: translateZ(-24px) rotateX(-90deg);
}

.custom-btn a:hover .front,
.custom-btn button:hover .front {
    background: #C36F09;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.custom-btn a:hover .back,
.custom-btn button:hover .back {
    color: #fff;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    transition: color 0.4s linear;
    background: #2B2B2B;
}

.custom-btn a:hover .back:after,
.custom-btn button:hover .back:after {
    -webkit-transform: rotate(6deg) translate(100px, -18px);
    -moz-transform: rotate(6deg) translate(100px, -18px);
    -o-transform: rotate(6deg) translate(100px, -18px);
    -ms-transform: rotate(6deg) translate(100px, -18px);
    transform: rotate(6deg) translate(100px, -18px);
}

.custom-btn .back i {
    transform: scale(4);
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    -webkit-transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    -moz-transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    -ms-transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    -o-transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.custom-btn a:hover .back i,
.custom-btn button:hover .back i {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    transition-delay: .01s;
}




.border-btn {
    display: inline-block;
    position: relative;
    min-width: 200px;
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin-top: 40px;

}

.border-btn span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: #4A4A4A;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.border-btn::before,
.border-btn::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    content: "";
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
    -webkit-transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
    -moz-transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
    -ms-transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
    -o-transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
}

.border-btn::before {
    top: 0;
    right: 0;
    border-top: 1px solid #4A4A4A;
    border-left: 1px solid #4A4A4A;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;
    -webkit-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    -moz-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    -ms-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    -o-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
}

.border-btn::after {
    bottom: 0;
    left: 0px;
    border-bottom: 1px solid #4A4A4A;
    border-right: 1px solid #4A4A4A;
}

.border-btn:hover::before,
.border-btn:hover::after {
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.border-btn:hover::before {
    transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    -webkit-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    -moz-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    -ms-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    -o-transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
}

.border-btn:hover::after {
    transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
    -webkit-transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
    -moz-transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
    -ms-transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
    -o-transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
}


.border-btn:hover span {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: #2b2b2b;
    color: #fff;
}

.full-width-btn {
    min-width: inherit;
    display: block;
    width: 100%
}

.sec-title {
    position: relative;
    font-size: 25px;
    color: #707070;
    margin-bottom: 10px;
}

.sec-prg {
    color: #555;
    max-width: 800px;
    margin: 0 auto 50px;
}

.text-right-dir {
    text-align: right;
}

.text-left-dir {
    text-align: left;
}

.text-center-dir {
    text-align: center;
}

.swal2-title {
    color: #2b2b2b !important;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-bottom: 5px !important;

}

.swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-styled {
    height: 40px;
    padding: 5px 20px 6px !important
}

.swal2-textarea.form-control:focus {
    background: #eee;
}

.swal2-validation-message {
    margin-bottom: 13px;
}

.swal2-styled.swal2-confirm {
    background-color: #D5A060 !important;
}

.swal2-styled.swal2-cancel {
    background-color: #2b2b2b !important;

}

.swal2-styled.swal2-cancel {
    box-shadow: none;
}

#swal2-content {
    text-align: center;
    color: #AEAEAE;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 14px;
}

.bold-text {
    font-family: "bold";
}

.first_color,
.first_color_hover:hover {
    color: #2b2b2b
}

.first_bg {
    background-color: #2b2b2b;
}

.second_color,
.second_color_hover:hover {
    color: #C36F09
}



.simple-btn {
    background: none;
    border: none;
}

.gray-color {
    color: #A49E9E;
}

.error {
    width: 100%;
    margin-top: .25rem;
    font-size: 14px;
    color: #dc3545 !important;
    font-family: "light";
    text-transform: lowercase;
}

.iti__flag-container {
    height: 40px;
}

.auto-icon i {
    margin: auto;
}

.two-btns {
    margin-top: 20px;
}

.two-btns a,
.two-btns button {
    vertical-align: middle;
    margin-top: 0;
}


input.no_apperance_number::-webkit-outer-spin-button,
input.no_apperance_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.swal2-content~.swal2-actions {
    margin-top: 10px !important;
}

.fixed-menu {
    display: none;
}

.progress-wrap {
    position: absolute;
    top: -1px;
    right: -6px;
    width: 115px;
    height: 99px;
    z-index: -1;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: -1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: #C36F09;
    stroke-width: 5;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


.scroll_progress {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
    overflow: hidden;
}


.scroll_progress div {
    content: "";
    height: 100%;
    background: #f6f6f6;
    border-bottom: 5px solid #2b2b2b;
    bottom: 0;
    right: 0;
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, .8);
}

.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.car__body {
    -webkit-animation: shake 0.2s ease-in-out infinite alternate;
    animation: shake 0.2s ease-in-out infinite alternate;
}

.car__line {
    transform-origin: center right;
    stroke-dasharray: 22;
    -webkit-animation: line 0.8s ease-in-out infinite;
    animation: line 0.8s ease-in-out infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.car__line--top {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.car__line--middle {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.car__line--bottom {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}



.load-dots {
    margin-top: 20px;
}


.loader ul {
    position: relative;
}

.loader ul li {
    list-style: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: anime 1s infinite linear;
}

.loader ul li:nth-child(1) {
    animation-delay: 0s;
}

.loader ul li:nth-child(2) {
    animation-delay: .1s;
}

.loader ul li:nth-child(3) {
    animation-delay: .2s;
}

.loader ul li:nth-child(4) {
    animation-delay: .3s;
}

.loader ul li:nth-child(5) {
    animation-delay: .4s;
}

.loader ul li:nth-child(6) {
    animation-delay: .5s;
}

.loading.active .car-load {
    transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    -moz-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    -o-transform: translateX(100vw);
    transition: all 1s linear .3s;
    -webkit-transition: all 1s linear .3s;
    -moz-transition: all 1s linear .3s;
    -ms-transition: all 1s linear .3s;
    -o-transition: all 1s linear .3s;
}

.loading.active .load-dots {
    animation: fadeOut .3s linear both;
    -webkit-animation: fadeOut .3s linear both;
}


.modal-header {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    border: none;
}

.modal-content{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.modal-header .close {
    position: absolute;
    left: 20px;
    border-radius: 50%;
    border: 1px solid #A49E9E;
    height: 30px;
    width: 30px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    top: 11px;
    text-align: center;
    color: #A49E9E;
}
.modal-header .close span {
    display: block;
    margin-right: -3px;
    margin-top: -3px;
}
.modal-header .close:hover{
    color: #fff;
    background: red;
    border-color: red;
}
.lg-toolbar .lg-icon {
    display: none;
}

.lg-toolbar .lg-autoplay-button,
.lg-toolbar .lg-close,
.lg-toolbar #lg-share {
    display: inline-block;
}

.no-trans .custom-colors {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.custom-colors {
    position: fixed;
    left: 0;
    top: calc(50% - 25px);
    width: 45px;
    height: 50px;
    background: #2b2b2b;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 9;
    cursor: pointer;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.custom-colors i {
    margin-right: 3px;
}

/*end general styles*/

.not-found {
    color: #fff;
}