/*start header*/
header {
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 99;
    width: 100%;
    background: #fff;
}



.main-logo img {
    max-width: 182px;
}

.main-logo {
    display: inline-block;
    margin-left: 50px;
    position: relative;
    vertical-align: middle;
    padding: 6px;
    overflow: hidden;
}

.top-link {
    border: 1px solid #2b2b2b;
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
    background: #2b2b2b;
    display: inline-block;
}

.top-link:not(:last-of-type) {
    margin-left: 10px;
    border-color: #707070;
    color: #2b2b2b;
    background: none;
}

.top-link:not(:last-of-type):hover {
    background: #2b2b2b;
    color: #fff;
}

.top-link:hover {
    background: #fff;
    color: #2b2b2b;
}

.main-header-icons {
    display: inline-block;
}

.slide-menu {
    display: none;
    z-index: 9;
    position: absolute;
    margin-top: 10px;
    top: calc(100% + 4px);
    background: #2B2B2B;
    text-align: center;
    color: #fff;
    width: 200px;
    text-align: right;
}

.user-login .slide-menu {
    width: 150px;
    text-align: center;
    left: calc(-50% - 35px);

}

.slide-menu:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    top: -10px;
    border-bottom-color: #2B2B2B;
}

.slide-menu.active {
    top: 100%;
}

.user-login .slide-menu::before {
    left: 50%;
}

.messages-login .slide-menu {
    right: 0;
}

.messages-login .slide-menu:before {
    right: 17px;
}

.notification-login .slide-menu:before {
    left: 17px;

}

.notification-login .slide-menu {
    left: 0;
}

.more-slide-menu {
    display: block;
    background: #333;
    color: #fff;
    padding: 9px 10px 10px;
    text-align: center;
    font-size: 14px;
}

.more-slide-menu:hover {
    color: #fff;
    background: #000;
}

.icon-img {
    height: 40px;
    width: 40px;
    position: relative;
    background-color: #2B2B2B;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    margin: auto 2px;
    font-size: 20px;
    border: none;
}

.icon-img.active,
.icon-img:hover {
    background-color: #C36F09;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.num {
    position: absolute;
    top: -5px;
    right: -4px;
    min-width: 20px;
    background: #C36F09;
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon-img.active .num,
.icon-img:hover .num {
    background: #2B2B2B;
}

.header-icon {
    display: inline-block;
    position: relative;
}



.slide-menu li a {
    display: block;
    color: #fff;
    padding: 7px 10px 10px;
}

.slide-menu li:not(:last-of-type) a {
    border-bottom: 1px solid #333;
}

.slide-menu li a:hover {
    color: #C36F09;
    background: #000;
}

.notification-slide li a {
    position: relative;
    display: block;
    padding-right: 45px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #333;
}

.notification-slide li a h3 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.notification-slide img {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
}

.notification-slide ul {
    max-height: 200px;
}

.main-search {
    width: 250px;
    margin-right: 20px;
    position: relative;
}


.main-search .form-control {
    background: #ffff;
    border: 1px solid #2B2B2B;
    height: 46px;
    padding-left: 45px;
}

.main-search button {
    position: absolute;
    bottom: 5px;
    height: 36px;
    background: #2B2B2B;
    border: none;
    width: 38px;
    color: #fff;
    left: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    left: 5px;
}

.main-search button:hover,
.main-search .form-control:focus~button {
    background: #C36F09;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.main-search .form-control:focus {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-color: #C36F09;
    color: #C36F09;
}

.close-search {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 30px;
    color: #2b2b2b;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
}

.main-icons-grid .main-logo {
    display: none;
}

.pages-header .row {
    background-image:url(../images/main/cars_header_bg.png) ;
    background-position: top center;
    background-size: cover;
    margin:auto;
    height: 400px;
    border:1px solid transparent

}

.page-header-content h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.breadcrumbes {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumbes a{
    color: #fff;
    display: inline-block;
}

.breadcrumbes a:after{
    content: "\f053";
    font-family: "font awesome 5 free";
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 3px;
}
/*end header*/