 body {
     position: fixed;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     background: #2b2b2b;
 }

 .main-hero {
     position: fixed;
     top: 0;
     height: 100%;
     width: 100%;
     right: 0;
     overflow: hidden;
 }

 .main-hero:before {
     content: "";
     position: fixed;
     height: 100%;
     width: 7px;
     background: #fff;
     z-index: 1;
     right: 50%;
     opacity: 0;
 }

 body.active .main-hero:before {
     animation: up_effect .3s linear;
     -webkit-animation: up_effect .3s linear;
     opacity: 1;
 }



 .col-md-6 .row {
     position: relative;
     height: 100vh;
     overflow: hidden;
 }

 .col-md-6 .row>div {
     position: absolute;
     height: 100%;
     top: 0;
     width: 100%;
     right: 0;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom center;
 }


 .logo {
     position: fixed;
     top: 50%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     right: 0;
     left: 0;
     margin: auto;
     z-index: 5;
     width: 230px;
     height: 230px;

 }

 .logo-inner {
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     margin: auto;
     z-index: 5;
     width: 230px;
     height: 230px;
     background: linear-gradient(#E6E6E6, #D5A060);
     text-align: center;

 }

 .logo img {
     max-height: 160px;
     margin: auto;
     margin-top: 35px;
 }




 .border-div,
 .border-div span {
     display: inline-block;
     position: fixed;
     width: 230px;
     height: 230px;
     top: -20px;
     right: -20px;
     z-index: 1;
 }



 .border-div::before,
 .border-div::after,
 .border-div span::before,
 .border-div span::after {
     width: 0;
     height: 0;
     content: "";
     position: absolute;
     background: #fff;
     opacity: 0;

 }

 .border-div::before,
 .border-div span::after {
     bottom: 0;

 }

 .border-div span::before,
 .border-div::after {
     top: 0;
 }

 .border-div::after,
 .border-div::before {
     right: 0;

 }

 .border-div span::after,
 .border-div span::before {
     left: 0;
 }







 body.active .border-div::before,
 body.active .border-div span::before {
     height: 100%;
     width: 5px;
     animation: border_effect_1 .2s cubic-bezier(0.445, 0.05, 0.55, 0.95) .7s;
     -webkit-animation: border_effect_1 .2s cubic-bezier(0.445, 0.05, 0.55, 0.95) .7s;
     opacity: 1;
     transition: opacity .2s ease-in-out;
     -webkit-transition: opacity .2s ease-in-out;
     -moz-transition: opacity .2s ease-in-out;
     -ms-transition: opacity .2s ease-in-out;
     -o-transition: opacity .2s ease-in-out;
 }

 body.active .border-div::after,
 body.active .border-div span::after {
     height: 5px;
     width: 100%;
     opacity: 1;
     animation: border_effect_2 .2s cubic-bezier(0.445, 0.05, 0.55, 0.95) .7s;
     -webkit-animation: border_effect_2 .2s cubic-bezier(0.445, 0.05, 0.55, 0.95) .7s;
 }

 body.active .border-div::before {
     animation-delay: .7s;
     transition-delay: .7s;

 }

 body.active .border-div::after {
     animation-delay: 1.1s;
     transition-delay: 1.1s;
 }

 body.active .border-div span::before {
     animation-delay: 1.4s;
     transition-delay: 1.4s;

 }

 body.active .border-div span::after {
     animation-delay: 1.7s;
     transition-delay: 1.7s;

 }

 a {
     display: inline-block;
     position: absolute;
     bottom: 85px;
     left: 0;
     right: 0;
     margin: auto;
     text-align: center;
     font-size: 40px;
     color: #fff;
 }


 a:hover {
     color: #D5A060;
     transition: all .5s ease-in-out !important;
     -webkit-transition: all .5s ease-in-out !important;
     -moz-transition: all .5s ease-in-out !important;
     -ms-transition: all .5s ease-in-out !important;
     -o-transition: all .5s ease-in-out !important;
 }



 @-webkit-keyframes up_effect {
     0% {
         transform: translateY(-100%);
         -webkit-transform: translateY(-100%);
         -moz-transform: translateY(-100%);
         -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
     }

     100% {
         transform: translateY(0);
         -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
         -ms-transform: translateY(0);
         -o-transform: translateY(0);
     }

 }

 @keyframes up_effect {
     0% {
         transform: translateY(-100%);
         -webkit-transform: translateY(-100%);
         -moz-transform: translateY(-100%);
         -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
     }

     100% {
         transform: translateY(0);
         -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
         -ms-transform: translateY(0);
         -o-transform: translateY(0);
     }

 }

 @keyframes border_effect_1 {
     0% {
         height: 0;

     }

     100% {
         height: 100%;
     }

 }


 @keyframes border_effect_2 {
     0% {
         width: 0;


     }

     100% {
         width: 100%;
     }

 }

 @media only screen and (max-width:767px) {
     .col-md-6 .row {
         height: 50vh;
     }

     .main-hero:before {
         height: 7px;
         width: 100%;
         right: 0;
         top: calc(50% + 20px);
     }




     .logo-inner,
     .logo,
     .border-div,
     .border-div span {
         width: 180px;
         height: 180px;
     }

     .logo img {
         max-height: 150px;
         margin-top: 15px;
     }

     a {
         bottom: calc(50% - 40px);
     }

     .col-md-6:first-of-type a {
         bottom: auto;
         top: calc(50% - 80px);
     }

     @-webkit-keyframes up_effect {
         0% {
             transform: translateX(-100%);
             -webkit-transform: translateX(-100%);
             -moz-transform: translateX(-100%);
             -ms-transform: translateX(-100%);
             -o-transform: translateX(-100%);
         }

         100% {
             transform: translateX(0);
             -webkit-transform: translateX(0);
             -moz-transform: translateX(0);
             -ms-transform: translateX(0);
             -o-transform: translateX(0);
         }

     }

     @keyframes up_effect {
         0% {
             transform: translateX(-100%);
             -webkit-transform: translateX(-100%);
             -moz-transform: translateX(-100%);
             -ms-transform: translateX(-100%);
             -o-transform: translateX(-100%);
         }

         100% {
             transform: translateX(0);
             -webkit-transform: translateX(0);
             -moz-transform: translateX(0);
             -ms-transform: translateX(0);
             -o-transform: translateX(0);
         }


     }
 }