
.hero4 {
    background-size: cover;
    background-image: url(../images/main/hero/Group\ 2542.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: "light";
}

.logo_hero4 {
    max-width: 37%;
    margin: 50px 0px 0px;
}

.text_hero4 p {
    color: #D5A060;
    margin: 50px 0px;
}

.text_hero4 p {
    color: #D5A060;
    width: 58%;
    font-size: 18px;
    line-height: 36px;
    margin: 108px 0px;
    height: 110px;
}

.media_hero4 ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #fff;
    font-size: 20px;
    text-align: center;
    margin: 0px 9px;
    padding: 10px 0px;
}

.media_hero4 ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.media_hero4 ul li a i {
    margin: auto;
}

.img-hero4 {
    width: 200px;
    display: inline-block;
    height: 200px;
    position: relative;
}

.img-hero4 img {
    border: 3px solid #fff;
    width: 100%;
    height: 100%;
}

.text-img_hero4 h2 {
    font-size: 22px;

}

.text-img_hero4 {
    color: #fff;
    width: 53%;
    text-align: center;
    margin: auto;
    display: inline-block;
}

.img-hero4 span {
    width: 100%;
    position: absolute;
    border: 3px solid #fff;
    height: 100%;
    right: 20px;
    top: 20px;
}

.link-hero4 {
    display: block;
    margin: 50px 0px;
}

.img-hero4 span {
    animation: img-hero 4s ease infinite;
    transform-box: fill-box;
}



@keyframes img-hero {
    0% {
        right: 20px;
        top: 20px;
    }

    50% {
        right: -20px;
        top: -20px;
    }

    100% {
        right: 20px;
        top: 20px;
    }
}






.media_hero4 ul li {
    position: relative;
}

.media_hero4 ul li:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.media_hero4 ul li:before {
    font-family: 'ecoicon';
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}


.media_hero4 ul li {
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.media_hero4 ul li:after {
    display: none;
}

.media_hero4 ul li:hover {
    background: #fff;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3);

}

.media_hero4 ul li a:hover {
    color: #D5A060;
    transition: all ease-in-out 0s;
}


.min-hero {
    height: 100vh;
  }
  .pn{
    padding: 0px;
    
  }
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 998px) {

    .text_hero4 p {
        width: 80%;
        font-size: 15px;
        height: 144px;
    }

    .img-hero4 {
        width: 175px;
        height: 175px;
    }

    .text-img_hero4 {
        width: 45%;

    }

    .text_hero4 p {
        margin: 55px 0px;
    }


    .media_hero4 ul li {
        width: 45px;
        height: 45px;
        text-align: center;
        margin: 0px 9px;
        padding: 8px 0px;
    }

    .text-img_hero4 h2 {
        font-size: 19px;
    }

}

@media only screen and (max-width: 768px) {
    .logo_hero4 {
        max-width: 50%;
    }

    .logo_hero4 {
        margin: 20px auto;
        max-width: 50%;
    }

    .text_hero4 p {
        margin: 0px auto !important;
        text-align: center;
    }

    div#set-5 {
        text-align: center;
    }

    .link-hero4 {
        display: block;
        text-align: center;
        margin: 50px 0px;
    }

    .text_hero4 p {
        margin: 0px auto !important;
        text-align: center;
        height: 115px;
    }
    
    .hero4 {
        padding-bottom: 100px;
        height: auto;
    }
    .media_hero4 {
        bottom: -170%;
        right: 0px;
        position: absolute;
        left: 0px;
    }
    .min-hero {
        height: 130vh;
    }
}

@media only screen and (max-width: 568px) {
    .img-hero4 {
        width: 120px;
        height: 120px;
    }

    .text-img_hero4 h2 {
        font-size: 16px;
    }

    .media_hero4 {
        bottom: -176%;
    }
}

@media only screen and (max-width: 450px) {
    .img-hero4 {
        width: 100px;
        height: 100px;
    }
    .media_hero4 {
        bottom: -176%;
    }
    .hero4 {
        padding-bottom: 69px;
        height: auto;
    }
    .min-hero {
        height: 110vh;
    }
}

.hero4.error404 {
    height: 100vh;
}


.logo_error404 {
    width: 23%;
    margin: 50px auto;
}
.text_error404  {
    margin:20px 0px
}
.text_error404 h2 {
    text-align: center;
    font-size: 32px;
}

.img_error404 {
    width: 40%;
    margin: 20px auto;
<<<<<<< HEAD
=======
}
.back_arrow {
    position: absolute;
    font-size: 35px;
    top: 26px;
    left: 26px;
    color: #fff;
}
.back_arrow a{
    color:#fff;
>>>>>>> d7d1904f47785f02320bccfa496a93519b1548e7
}