#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    max-width: 100%;
    left: 0px;
    width: 1200px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    visibility: hidden;
}

.jssorl-009-spin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
}

.jssorl-009-spin img {
    margin-top: -19px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
}

.slides-slider {
    cursor: default;
    position: relative;
    top: 0px;
    left: 100px;
    width: 1100px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.side-jssor-menu {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100px;
    height: 500px;
}

.side-jssor-menu-item {
    width: 80px;
    height: 80px;
}

.arrowleft {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 110px;
}

.arrowright {
    width: 50px;
    height: 50px;
    top: 0px;
    right: 10px;
}

.slid-moves svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*jssor slider arrow skin 093 css*/
.jssora093 {
    display: block;
    position: absolute;
    cursor: pointer;
}

.jssora093 .c {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
}

.jssora093 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
}

.jssora093:hover {
    opacity: .8;
}

.jssora093.jssora093dn {
    opacity: .6;
}

.jssora093.jssora093ds {
    opacity: .3;
    pointer-events: none;
}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .side-jssor-menu-item {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.jssort101 .side-jssor-menu-item .cv {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    box-sizing: border-box;
    z-index: 1;
}

.jssort101 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
    visibility: hidden;
}

.jssort101 .side-jssor-menu-item:hover .cv,
.jssort101 .side-jssor-menu-item.pdn .cv {
    border: none;
    border-color: transparent;
}

.jssort101 .side-jssor-menu-item:hover {
    padding: 2px;
}

.jssort101 .side-jssor-menu-item:hover .cv {
    background-color: rgba(0, 0, 0, 6);
    opacity: .35;
}

.jssort101 .side-jssor-menu-item:hover.pdn {
    padding: 0;
}

.jssort101 .side-jssor-menu-item:hover.pdn .cv {
    border: 2px solid #fff;
    background: none;
    opacity: .35;
}

.jssort101 .pav .cv {
    border-color: #fff;
    opacity: .35;
}

.jssort101 .pav .a,
.jssort101 .p:hover .a {
    visibility: visible;
}

.jssort101 .t {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    border: none;
    opacity: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid transparent;

}

.jssort101 .pav .t,
.jssort101 .side-jssor-menu-item:hover .t {
    border-color: #C36F09;
}

.side-jssor-menu-itemav .t {
    border-color: #2b2b2b;
}

@media only screen and (max-width:1399px) {
    .slides-slider {
        width: 980px;
    }
}

@media only screen and (max-width:1200px) {
    .slides-slider {
        width: 800px;
    }
}

@media only screen and (max-width:992px) {
    .slides-slider {
        width: 560px;
    }

    #jssor_1,.slides-slider ,.side-jssor-menu{
        height: 400px;
    }
}


@media only screen and (max-width:767px) {
    .slides-slider {
        width: 380px;
    }

    #jssor_1,.slides-slider ,.side-jssor-menu{
        height: 300px;
    }
}


@media only screen and (max-width:576px) {
    .slides-slider {
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .slides-slider img{
        width: calc(100% - 30px) !important;
        margin: auto;
        left: 15px !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    #jssor_1,.slides-slider{
        height: 300px;
    }
  
    .side-jssor-menu{
        display: none;
    }

    .side-jssor-menu-item>div{
        left: 0;
    }
    .slides-slider {
        left: 0;
    }

    .arrowright {
        right: 5px;
    }
    .arrowleft {
        left: 0px;
    }
}

@media only screen and (max-width:450px) {

#jssor_1,.slides-slider{
    height: 250px;
}
}