
  @-webkit-keyframes shake {
    0% {
      transform: translateY(-1%);
    }
    100% {
      transform: translateY(3%);
    }
  }
  
  @keyframes shake {
    0% {
      transform: translateY(-1%);
    }
    100% {
      transform: translateY(3%);
    }
  }
  @-webkit-keyframes line {
    0% {
      stroke-dashoffset: 22;
    }
    25% {
      stroke-dashoffset: 22;
    }
    50% {
      stroke-dashoffset: 0;
    }
    51% {
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: -22;
    }
    100% {
      stroke-dashoffset: -22;
    }
  }
  @keyframes line {
    0% {
      stroke-dashoffset: 22;
    }
    25% {
      stroke-dashoffset: 22;
    }
    50% {
      stroke-dashoffset: 0;
    }
    51% {
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: -22;
    }
    100% {
      stroke-dashoffset: -22;
    }
  }

  @keyframes anime{
    0%{
        background: #fff;
}
    30%{
        background:transparent;
         }
    50%{
        background: #C36F09;
}
    100%{
        background: #2b2b2b;
}
}

@-webkit-keyframes shine {
	100% {
		right:  125%;
	}
}
@keyframes shine {
	100% {
		right: 125%;
	}
}

@-webkit-keyframes arrow_effect {
	50% {
        top: 70%;
	}
}
@keyframes arrow_effect {
	50% {
        top: 70%;
	}
}


@-webkit-keyframes shadow_effect {
  50%{
      text-shadow: 5px 29px 0 #D5A060;
  }
}


@keyframes shadow_effect {
  50%{
      text-shadow: 5px 29px 0 #D5A060;
  }
}


