.main-content {
    overflow: hidden;
    position: relative;
}

.slider {
    margin: 1px auto;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.main-slide-item {
    display: block;
    height: 400px;
}

.main-slider .owl-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 40px;
    z-index: 1;
    width: 16px;
}

.main-slider .owl-dots .owl-dot {
    display: block;
}

.main-slider .owl-dots .owl-dot span {
    height: 16px;
    width: 16px;
    background: #FFFFFF;
    box-shadow: 0 0 2px #888;
    position: relative;
    border: 1px solid #fff;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
    margin-bottom: 7px;
}

.main-slider .owl-dots .owl-dot span:before {
    content: "";
    position: absolute;
    height: 70%;
    width: 70%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.main-slider .owl-dots .owl-dot.active span,
.main-slider .owl-dots .owl-dot.active:hover span {
    background: transparent;
    border-color: #000;
}

.main-slider .owl-dots .owl-dot:hover span {
    background: #C36F09;
    border-color: #C36F09;
}


.main-slider .owl-dots .owl-dot.active span:before,
.main-slider.owl-dots .owl-dot span::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.slider-caption {
    position: absolute;
    max-width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .1));
    justify-content: center;
    width: 0;
    overflow: hidden;
}

.slider-caption p {
    color: #fff;
    line-height: 35px;
}



.slider-caption a {
    color: #D5A060;
    border: 2px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: inline-block;
    padding: 7px 20px 10px;
    min-width: 200px;
    margin-top: 40px;
}


.slider-caption a:hover {
    background: #C36F09;
    color: #fff;
    border-color: #C36F09;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.owl-item.active .slider-caption {
    animation: fadeInRight .5s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .3s;
    -webkit-animation: fadeInRight .5s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .3s;
    width: 50%;
}


.owl-item.active .slider-caption p {
    animation: fadeIn .7s ease-in-out both .9s;
    -webkit-animation: fadeIn .7s ease-in-out both .9s;
}



.owl-item.active .slider-caption a {
    animation: jackInTheBox 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both 1s;
    -webkit-animation: jackInTheBox 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both 1s;
}

.full-search {
    padding: 30px 0 15px;
}

.full-search .select-div {
    margin: 0 7px;
    width: calc(100%/3 - 36px);
    display: inline-block;
    vertical-align: top;
}

.search-btn-grid {
    display: inline-block;
}

.search-btn {
    height: 36px;
    background: #D5A060;
    border: none;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;
    line-height: 47px;
    text-align: center;
    font-size: 20px;
}

.search-btn span {
    display: none;
}

.search-btn:hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: #2b2b2b;
    color: #fff;
}

.reverse-searvh-btn {
    background: #2b2b2b;
}

.reverse-searvh-btn:hover {
    background: #D5A060;
}

.select-width {
    padding: 0;
}

.full-search .custom-btn {
    margin-left: 0;
    margin-right: auto;
    width: 140px;
}

.full-search .reverse-searvh-btn {
    margin-right: 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: 3px;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    margin-left: -6px;
}

.orange-form .form-control {
    border-color: #C36F09;
    color: #C36F09;
    height: 48px;
}



.orange-form .form-control:focus {
    border-color: #2b2b2b;
}

.orange-form .select2-container--bootstrap4 .select2-selection {
    border-color: #C36F09;
    height: 48px !important;

}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 43px !important;
}

.orange-form .select2-container--bootstrap4.select2-container--focus .select2-selection {
    color: #C36F09;
    border-color: #2b2b2b;

}

.orange-form .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #C36F09 transparent transparent;
}

.hidden-input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -99999;
}

.product-div {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}

.product-div:before {
    height: 2px;
    background: #2b2b2b;
    top: auto;
    bottom: 0;
    z-index: -1;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.product-div:not(:last-of-type):after,
.profile-data:not(:last-of-type) .product-div:after {
    height: 2px;
    top: auto;
    bottom: 0;
    border-bottom: 2px dashed #ccc;
    z-index: -2;

}


.product-div:hover:before {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.product-img {
    height: 155px;
    width: 220px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
}

.product-img img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

.product-details {
    display: inline-block;
    width: calc(100% - 225px);
    padding-right: 20px;
    vertical-align: top;
    max-width: 560px;
}

.product-description ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    color: #A49E9E;
    margin-top: 10px;
}

.product-description ul li {
    flex: 0 0 33.3%;
    max-width: 33.33%;
    margin-bottom: 10px;
}

.product-title {
    display: inline-block;
    width: calc(100% - 95px);
}

.product-price {
    display: inline-block;
    width: 90px;
    vertical-align: top;
}

.product-description ul li:nth-of-type(3n-1) {
    text-align: center;
}

.product-description ul li:nth-of-type(3n) {
    text-align: left;
}

.badges {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #2B8125;
    padding: 4px 17px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
}

.badges i {
    float: left;
    color: #fff;
    margin-left: -10px;
    margin-right: 24px;
    margin-top: 3px;
}

.yellow-badge {
    background: #FFEA81;
    color: #2b2b2b;
    font-size: 13px;
}

.yellow-badge i {
    color: #2b2b2b;
}

.orange-badge {
    background: #F59F3C;
    font-size: 13px;
}

.red-badge {
    background: #FF361F;
}

.owner-type {
    padding-right: 30px;
    background-image: url(../images/icons/2.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 26px;
    display: inline-block;
    color: #4A4A4A;
    min-height: 26px;
}

.owner-type.individual {
    background-image: url(../images/icons/1.png);

}

.favourite-checkbox {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
}

.favourite-checkbox label {
    height: 45px;
    width: 45px;
    background: #FFF3E5;
    color: #CCCCCC;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid #FFF3E5;
}

.favourite-checkbox input:checked~label {
    background: #2b2b2b;
    color: red;
}

.favourite-checkbox input:checked~label i {
    animation: heartBeat 1s ease-in-out both;
    -webkit-animation: heartBeat 1s ease-in-out both;
    font-weight: bold;

}

.left-product-grid {
    position: relative;
    padding-bottom: 50px;
}

.product-div:hover .product-img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-color: #2b2b2b;
}

.hover_btn {
    position: absolute;
    left: 100%;
    width: 85px;
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    bottom: 2px;
    height: 47px;
    background-color: transparent;
    font-size: 12px;
    color: #fff;
    padding: 0;
    line-height: 38px;
}

.hover_btn:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/main/car2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 47px;
    background-position: bottom center;
    z-index: -1;
}

.hover_btn span {
    width: 40px;
    /* line-height: 9px; */
    width: 35px;
    display: inline-block;
    text-align: center;
    margin-right: -3px;
}

.hover_btn:hover {
    color: #d5a060;

}

.hover_btn i {
    margin-right: 7px;
    margin-left: 0;
}

.product-div:hover .hover_btn {
    left: 0;

}


.product-div:hover .favourite-checkbox {
    bottom: 24px;
}

.product-div:hover .product-description li {
    color: #333333;
}

.product-div:hover .favourite-checkbox label {
    border-color: #2b2b2b;
    color: #2b2b2b;
}

.product-div:hover .favourite-checkbox input:checked~label {
    color: red;
}

.product-div:hover .product-price {
    background: #2b2b2b;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.multi-banner {
    margin-bottom: 40px;
}


.multi-banner figure {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.multi-banner figure::before {
    position: absolute;
    top: 0;
    right: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .06) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .06) 100%);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -ms-transform: skewX(25deg);
    -o-transform: skewX(25deg);
}

.multi-banner figure:hover:before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}

.multi-banner figure:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}


.more-product-section {
    margin-bottom: 20px;
}

.load-more-div {
    padding-bottom: 1px;
    padding-top: 1px;
}

.load-more {
    font-size: 25px;
    padding-bottom: 30px;
    position: relative;
    animation: arrow_effect 2s linear infinite;
    -webkit-animation: arrow_effect 2s linear infinite;
    margin: 20px auto;
}

.load-more:hover {
    color: #C36F09;
}

.load-more i {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60%;
    animation: arrow_effect 2s linear infinite;
    -webkit-animation: arrow_effect 2s linear infinite;
}

.letter {
    display: inline;
}

.shadow-title {
    font-size: 22px;
    margin-bottom: 60px;
    text-shadow: -5px 29px 2px #e6e6e6;
    animation: shadow_effect 2s ease-in-out infinite;
    -webkit-animation: shadow_effect 2s ease-in-out infinite;
}

h2.shadow-title {
    font-size: 25px;
}

.arrow-title {
    position: relative;
    padding-right: 10px;
    margin-bottom: 25px;
}

.arrow-title:before {
    content: "\f0d9";
    position: absolute;
    top: 2px;
    font-family: "font awesome 5 free";
    font-weight: bold;
    right: 0;
}

.inline-custom-checkboxes .custom-checkbox {
    margin-right: 20px;
}

.checkboxes-inline-title h4,
.checkboxes-inline-title .inline-custom-checkboxes {
    display: inline-block
}

.checkboxes-inline-title h4 {
    min-width: 126px;
}

.categories-list .circle-item {
    margin-bottom: 10px;
    background: #FFF1DE;
    max-width: 600px;
    padding: 10px 25px 12px 10px;

}

.circle-item:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #C36F09;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}

.categories-list .circle-item:before {
    right: 10px;
}

.gray-color .circle-item:before {
    border-color: #A49E9E;
}

.circle-item {
    padding: 10px 15px 7px 10px;
    position: relative;
    z-index: 1
}

.categories-list .circle-list>.row>div:nth-of-type(even) .circle-item {
    margin-right: auto;
    margin-left: 0;
}

.categories-list .circle-item em,
form em {
    font-style: normal;
}

iframe#st_gdpr_iframe {
    left: 0 !important;
}

.adv-num {
    position: absolute;
    top: 10px !important;
    right: 10px !important;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 1;
    display: inline-block;
    padding: 5px 20px;
    transform: none !important;
    left: auto !important;
}

.main-product-details .badges {
    position: static;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.main-product-details .price {
    margin: 15px 0 20px;
}

.main-product-details .circle-list {
    margin-top: 30px;
}

.light-bg {
    background: #FFF1DE;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.light-bg2 {
    background-color: rgba(255, 243, 229, .25);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
}

.main-product-details .light-bg {
    margin-bottom: 20px;
}

.product-date {
    margin-bottom: 15px;

}

.product-tabs {
    border: 1px solid #C36F09;
    padding: 20px;
}

.tab-content {
    padding-top: 50px;
    perspective: 2000px;
    -o-perspective: 2000px;
    -ms-perspective: 2000px;
    -moz-perspective: 2000px;
    -webkit-perspective: 2000px;
    perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    overflow: hidden;
    position: relative;
}

.nav-tabs {
    border: none;
    margin-top: 30px
}

.nav-tabs .nav-link {
    border-radius: 10px;
    min-width: 165px;
    text-align: center;
    color: #2b2b2b;
    margin: 5px 15px;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #C36F09;
    background-color: #fff;
    border-color: #C36F09;
}

.inner-tab {
    max-width: 1200px;
    margin: auto;
}


.tab-content>.tab-pane {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transition: opacity 0.8s, transform 0.8s;
    -moz-transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, transform 0.8s;
    -o-transition: opacity 0.8s, transform 0.8s;
    pointer-events: none;
}


.tab-content>.tab-pane.active {
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transition-delay: 0.2s;
    pointer-events: inherit
}

.tab-content p {
    text-align: justify;
}

.contact-product-info a {
    display: block;
    color: #2b2b2b;
    margin-bottom: 10px;
}

.contact-product-info a i {
    color: #D5A060;
    margin-left: 10px;
    font-size: 16px;
}

.contact-product-info a:hover {
    background: #2b2b2b;
    color: #fff;
}

.product-note div {
    display: inline-block;
    background-image: url(../images/icons/4.png);
    background-position: 100% 25px;
    background-repeat: no-repeat;
    background-size: 30px;
    min-height: 30px;
    padding: 20px 33px 20px 10px;
}


.product-icons .favourite-checkbox {
    width: 100%;
    display: block;
    margin-right: 0;
}

.product-icons {
    position: fixed;
    top: calc(50% + 40px);
    left: 0;
    width: 45px;
    z-index: 9;
}

.product-icon {
    display: block;
    border: none;
    height: 45px;
    background: #D5A060;
    width: 100%;
    margin-bottom: 7px;
    color: #fff;
    line-height: 47px;
    font-size: 19px;
    padding: 0;

}

.no-trans .product-icon {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.product-icon {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}


.favourite-checkbox .product-icon {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: #D5A060;
    width: 100%;
    color: #fff;
    border: none;
    margin-bottom: 7px;

}

.product-icons .favourite-checkbox {
    position: static;

}

.product-icon:hover {
    background: #C36F09;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    color: #fff;
}

.map-pg.full-search {
    padding-bottom: 0;
}

.map-pg.full-search .custom-btn {
    width: 100%;
}

.first_bg .form-control,
.first_bg .select2-container--bootstrap4 .select2-selection {
    background: transparent;
    color: #fff;
    border-color: #F8F8F8;
}



.first_bg .form-control:focus,
.first_bg .select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: #fff;
    border-color: #fff;
    color: #2b2b2b;
}



.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background-color: #2b2b2b;
}

.first_bg .orange-form .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent;
}

.first_bg .search-btn:hover {
    background: #fff;
    color: #2b2b2b;
}

.first_bg .custom-btn a:hover .back,
.first_bg .custom-btn button:hover .back {
    background-color: #fff;
    color: #2b2b2b;
}


.first_bg .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

.first_bg .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.first_bg .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.first_bg .first_bg .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}


.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #AEAEAE;
}

.full-search.first_bg {
    background: #2b2b2b;
}

#map {
    height: 800px;
}

.main-inner-label {
    background: #fff;
    color: #C36F09;
    padding: 5px 10px;
    margin-top: 5px;
    font-family: "light";
    z-index: 2;
    position: relative;
}

.map-link {
    display: inline-block;
    position: relative;
    z-index: 3;
}

.map-link img {
    position: relative;
    z-index: 1;
}

.category-content {
    border: 1px solid #C36F09;
    padding: 20px 20px 60px;
    margin: auto auto 20px;
    position: relative;
    overflow: hidden;
}

.category-content .img {
    height: 100px;
    width: 100px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.category-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100px;
    width: 100px;
    background: #1F1F1F;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: -1;

}

.category-content:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 100%;
    background: #302e2e;
    z-index: -1;
    opacity: 0;

}

.category-content .img:before {
    background: #ccc;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: -1;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    opacity: 0;
}

.category-content:hover .img:before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}

.category-content:hover:after {
    height: 50px;
    opacity: 1;
    transition-delay: .25s;
}

.category-content:hover:before {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.category-content .img img {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    max-width: 70%;
    max-height: 70%;
}

.category-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-content p {
    height: 80px;
    overflow: hidden;
}

.arrow-link {
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    left: 20px;
    bottom: 20px;

}

.category-content:hover h3 {
    color: #fff;
}

.category-content:hover .arrow-link {
    color: #ccc;
    bottom: 12px
}

.holder {
    direction: ltr;
}

.holder a {
    font-size: 13px;
    color: #2b2b2b;
    border: 1px solid #A49E9E;
    width: 30px;
    height: 30px;
    line-height: 27px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.holder a.jp-current {
    color: #C36F09;
    border-color: #C36F09;
}

.holder a:hover {
    color: #fff !important;
    background: #2b2b2b;
    border-color: #2b2b2b;
}

.holder a.jp-previous,
.holder a.jp-next {
    background: #FFF1DE;
    border-color: #FFF1DE;
    color: #ccc;
    margin: auto 5px;
}

.holder a.jp-previous:hover,
.holder a.jp-next:hover {
    color: #C36F09 !important;
}

.holder a.jp-previous.jp-disabled {
    color: #ccc !important;
}

.add-product-form .custom-file-div input~label {
    border: 1px solid #AEAEAE;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0;
}

.add-product-form .custom-file-div * {
    cursor: pointer;
}

.add-product-form .single-file img,
.add-product-form .multi-file label>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 100%;
}

.images-multi img {
    width: 47px;
    height: 47px;
    margin: 4px;
}

.add-product-form .multi-file input~label {
    overflow-y: auto;
    overflow-x: hidden;
}

.remove-file {
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 7px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}

#map-text i {
    position: absolute;
    left: 0;
    top: 13px;
    font-size: 25px;
    left: 6px;
    cursor: pointer;
    color: #A49E9E
}

#map-text .form-control[readonly] {
    background: #fff;
}

#map-text .form-control {
    cursor: pointer;
    padding-left: 55px;

}

#map-text input:focus {
    background: #fff;
}

#map2 {
    height: 400px;
    display: none;
    margin: 20px auto;
}

#map3{
    height: 300px;
    display: none;
    margin: 20px auto;
}

#commercial-login{
    display: none;
}
#user-login{
    display: none;
}

#map-text .gm-style .gm-style-iw-c,#map-text .gm-style .gm-style-iw-t::after {
    top: -40px !important;
}

.dark-form #map-text input:focus{
    background: #2C2B2A;
}
.profile-img {
    background: #FFF8EF;
    padding: 40px 20px;
}


.profile-img h3 {
    text-align: center;
    margin-top: 25px;
}

.avatar-upload {
    position: relative;
    margin: auto auto 10px;
    width: 120px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    z-index: 1;
    top: -7px;
    box-shadow: 0 0 8px #888;
    border-radius: 100%;
    height: 30px;
    left: 0;
}


.avatar-upload .avatar-edit label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: calc(100% + 60px);
    left: 0;
}

.avatar-upload .avatar-edit label:hover {
    background: #2b2b2b;
}



.avatar-upload .avatar-edit label:after {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    color: #C36F09;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}

.avatar-upload .avatar-preview {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 100%;
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-list {
    padding: 20px 0;
    margin: 30px auto;
    border-radius: 10px;
}



.profile-list a {
    font-size: 16px;
    padding: 15px 20px 17px;
    color: #2b2b2b;
    display: block;
    border-right: 3px solid transparent;
}



.profile-list li:hover a,
.profile-list li.active a {
    color: #C36F09;
    background: #fff;
    border-color: #D5A060;

}


.main-profile-div {
    padding: 30px;
}

.main-profile-div h2 {
    margin-bottom: 30px;
    padding-left: 30px;
    font-size: 20px;

}

.open-edit-form {
    color: #A49E9E;
    position: absolute;
    top: 7px;
    left: -5px;
    padding: 0;
}

.moving-label {
    position: absolute;
    top: -14px;
    background: #F8F8F8;
    right: 15px;
    padding: 0 10px 2px;
    z-index: 1;
}

.profile-form .form-control[disabled] {
    cursor: not-allowed;
}

.profile-form .form-control {
    background: #f8f8f8;
}

.profile-form .form-group {
    margin-bottom: 40px;
}

.hide-element {
    display: none;
}

.profile-form .active .form-control {
    border-color: #2b2b2b;
    color: #2b2b2b;
    cursor: inherit;
}

.profile-form .active .moving-label,
.open-edit-form.active {
    color: #2b2b2b;
}

.profile-form .select2-container--bootstrap4 .select2-selection {
    background: #f8f8f8;
    color: #2b2b2b;
    border-color: #2b2b2b;
}

.profile-form .active .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #2b2b2b transparent transparent;
}

.profile-form .select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-selection,
.profile-form .select2-container--bootstrap4.select2-container--disabled .select2-selection {
    background-color: #f8f8f8;
    color: #C36F09;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-color: #C36F09;
}

.profile-form .select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: #f8f8f8;
    color: #C36F09;

}

.profile-form .active .orange-form .select2-container--bootstrap4 .select2-selection {
    color: #2b2b2b;
}



.switch_box {
    position: absolute;
    left: 0;
    top: 7px;
}


.switch_box input[type="checkbox"].switch_1 {
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.3em;
    background: #D5A060;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}

.switch_box input[type="checkbox"].switch_1:checked {
    background: #2b2b2b;
}

.switch_box input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 2.2em;
    height: 1.2em;
    border-radius: 20px;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    left: 0px;
    top: 1px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.switch_box input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 2.2em);
}

.switch-container {
    padding-left: 5em;
}

.full-width-checkbox {
    display: block;
}

.white-checkbox input~label:before {
    content: none;
}

.white-checkbox input~label {
    background: #fff;
    padding: 12px 10px 12px 30px;
    color: #2b2b2b;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.white-checkbox input:checked~label {
    background: #2b2b2b;
    border-color: #2b2bb2;
    color: #fff;
}

.white-checkbox input~label:after {
    right: auto;
    left: 10px;
    top: 13px;
}

.slide-profile {
    display: none;
}


.arrow-profile-text {
    position: relative;
    padding-left: 30px;
    border-bottom: 1px dashed #D5D5D5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.arrow-profile-text:before {
    content: "\f053";
    position: absolute;
    top: 0;
    font-family: "font awesome 5 free";
    font-weight: bold;
    left: 0;
    font-size: 12px;
}

.arrow-profile-text.active:before {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.agreement-div p {
    margin-bottom: 40px;
    line-height: 37px;
    max-width: 460px;
    margin: auto auto 40px;
}

.agreement-div .circle-item {
    padding: 5px 15px 7px 10px;
}

.agreement-div .product-note {
    padding-top: 15px;
    padding-bottom: 15px;
}


.product-change-status {
    position: absolute;
    top: 35px;
    background: #fff;
    border-radius: 5px;
    min-width: 103px;
    padding: 2px 10px 0;
    right: 7px;
    display: none;
}

.product-change-status .circle-checkbox input~label {
    margin-bottom: 6px;
    font-size: 14px;
    padding-right: 20px;
}

.product-change-status .custom-checkbox input~label:before {
    height: 14px;
    width: 14px;
}

.product-change-status .circle-checkbox input~label::after {
    height: 8px;
    width: 8px;
}

.profile-data .badges {
    cursor: pointer;
}

.profile-edit-icon {
    display: block;
    border: none;
    margin-bottom: 10px;
    background: none;
    color: #9999;
    margin: 0px auto 15px 0;
    text-align: center;
    padding: 0;
    width: 23px;
    font-size: 20px;
}

a.profile-edit-icon:first-of-type {
    border-bottom: 1px solid #9999;
}

.profile-edit-icon:hover {
    color: #C36F09;
}

.profile-data .favourite-checkbox {
    position: static;
}

.commission-div {
    background-image: url(../images/login/cars_login_bg2.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.commission-calcualte>div {
    margin: auto;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 20px;
}

.commission-calcualte>div span {
    display: inline-block;
    min-width: 140px;
    border-left: 1px solid #A49E9E;
    margin-left: 20px;
}

.commission-calcualte>.light-bg span {
    border-color: #C36F09;
}

.commission-calcualte input {
    height: 50px;
    width: calc(100% - 160px);
    background: none;
    border: none;
}


.commission-value {
    margin: 50px auto;
}

.commission-final-result {
    padding: 35px 15px;
    margin: 40px auto;
}

.payment-methods .custom-checkbox {
    display: block;
}

.payment-methods .custom-checkbox input~label {
    display: block;
    height: 150px;
    display: flex;
    align-items: center;
}

.checkbox-has-img img {
    position: absolute;
    max-width: 100px;
}

.checkbox-has-img input~label:before {
    right: auto;
    left: 30px;
    top: 40%;
}

.checkbox-has-img input~label:after {
    right: auto;
    left: calc(30px + 3px);
    top: calc(40% + 3px);
}

.checkbox-has-img input:checked~label {
    background: #FFF3E5;
}

.login-body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url(../images/login/body-bg.png);
    background-position: center center;
    background-size: cover;

}

.login-pg {
    background-color: #1C1A19;
    background-image: url(../images/login/cars_login_bg2.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    max-width: 500px;
    padding: 50px 30px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 14px;
}

.login-pg.white-bg {
    background-color: #fff;
    background-image: url(../images/login/login_bg2.png);
}

.login-pg .text-center img {
    max-height: 80px;
    margin-bottom: 50px;
}

.login-pg h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.login-div {
    max-width: 400px;
    margin: auto;
}

.login-pg .form-group {
    margin-bottom: 15px;
}

.login-div .form-control {
    height: 50px;
    font-size: 14px;
}

.login-div .select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.login-div .select2-container--bootstrap4 .select2-selection--single {
    height: 50px !important;
    font-size: 14px;

}
.login-div .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 48px !important;
    color: #adadad;
}
.dark-form .form-control,.dark-form  .select2-container--bootstrap4 .select2-selection {
    background: #2C2B2A;
    border-color: #2C2B2A;
    color: #fff;
}

.dark-form .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #adadad transparent transparent;
}



.login-pg a,
.login-pg .custom-checkbox input~label {
    font-size: 14px;
}

.login-pg a:hover {
    color: #fff;
}

.login-pg a.first_color_hover:hover {
    color: #2b2b2b;
}


.decorate-link {
    text-decoration: underline;
    display: inline-block;
    padding-bottom: 2px;
}

.white-btn span {
    color: #fff;
}

.white-btn::before,
.white-btn::after {
    border-color: #fff;
}

.login-div .border-btn {
    margin-top: 20px;
}

.login-div .border-btn span {
    padding: 8px 20px;
}

.login-pg .custom-checkbox input~label:before,
.login-pg .custom-checkbox input~label:after {
    top: 0;
}

.login-pg .custom-checkbox input:checked~label {
    color: #fff;
}


.light-bg-form .form-control {
    background: #FFF8EF;
    border-color: #FFF8EF;
    color: #2b2b2b;
}

.light-bg-form p {
    margin-bottom: 20px;
    font-size: 14px;
}


.payment-form .form-control {
    background: #fff;
}

.payment-file label span {
    background: #D5A060;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 2px;
}

.payment-file img {
    max-height: 200px;
    margin: 20px auto auto;
}

.delete-btn {
    background: transparent;
    border: 1px solid #2b2b2b;
    color: #2b2b2b;
    padding: 10px 15px;
    min-width: 160px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: auto;
    margin-left: 0;
}

.delete-btn i {
    margin-left: auto;
    float: left;
    margin-top: 5px;
}

.delete-btn:hover {
    background: #D5A060;
    color: #fff;
    border-color: #D5A060;
}

.notifiction-main-div a {
    padding: 10px 60px 10px 10px;
    border: 1px solid #C36F09;
    min-height: 50px;
    position: relative;
    font-size: 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    color: #2b2b2b;
}

.notifiction-main-div li i {
    height: 40px;
    width: 40px;
    background: #FFF1DE;
    color: #d5a060;
    position: absolute;
    top: calc(50% - 20px);
    right: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.notify-date {
    display: block;
    color: #777;
    margin-top: 5px;
}

.bank-div {
    border: 1px solid #C36F09;
    padding: 20px;
    margin-bottom: 20px;
}


.bank-div img {
    max-height: 100px;
}

.bank-div ul li {
    margin-bottom: 10px;
}

.static-pg {
    line-height: 40px;
    text-align: justify;
}

.about-pg img {
    margin-bottom: 20px;
    margin-top: 10px;
}


.contact-main-list li a {
    display: block;
    position: relative;
    color: #2b2b2b;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DBDBDB;
    padding-right: 65px;
}

.contact-main-list li:last-of-type a {
    border-bottom: none;
}

.contact-main-list li a span {
    display: block;
    margin-bottom: 5px
}

.contact-main-list li a i {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 3px 6px #ccc;
    right: 0;
    top: 2px;
    color: #D5A060;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.contact-socialmedia {
    margin-bottom: 30px;
}

.contact-socialmedia a {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #d5a060;
    color: #D5A060;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    margin: 2px 6px;
}

.contact-socialmedia a:hover {
    animation: rotateIn .3s linear both;
    -webkit-animation: rotateIn .3s linear both;
    color: #2b2b2b;
    border-color: #2b2b2b;
}

.gray-bg-form .form-control {
    background: #f9f9f9;
    height: 50px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gray-bg-form .form-control:focus {
    background: #FFF1DE;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.main-chat {
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #FCFCFC;
    font-size: 14px;
}

.chat-search .form-control {
    padding-right: 40px;
}

.chat-search button {
    position: absolute;
    top: 13px;
    right: 10px;
    color: #d5a060;
    width: auto;
    padding: 0;
    background: none;
    border: none;
}

.chat-users {
    height: 500px;
    padding: 0 15px;
}

.chat-pg .hirozintal-scroll::-webkit-scrollbar-track {
    background-color: #eee;
}

.chat-pg .hirozintal-scroll::-webkit-scrollbar {
    background-color: #eee;

}

.chat-pg .hirozintal-scroll::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.chat-users a,
.chat-owner {
    display: block;
    padding-right: 55px;
    position: relative;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 15px;
}

.chat-users li:last-of-type a,
.chat-owner {
    border-bottom: none;
    margin-bottom: 0;
}

.chat-img {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.online .chat-img:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 2px;
    height: 10px;
    width: 10px;
    background: #1FC413;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.chat-img img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.side-contact-chat h3,
.chat-owner h3 {
    font-size: 15px;
    margin-bottom: 0px;
    position: relative;
    padding-left: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-time,
.chat-time {
    position: absolute;
    left: 0;
    font-size: 13px;
    width: 46px;
    text-align: left;
}

.side-contact-chat p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;

}

.online .side-contact-chat p {
    color: #2b2b2b;
}

.chat-search {
    padding: 0 15px;
}

.chat-content-list {
    background: #fff;
    border-left: 1px solid #DBDBDB;
    padding: 10px 0;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.chat-owner {
    background: #fff;
    padding: 10px 65px 10px 10px;
    box-shadow: 0 3px 6px #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 40px;
}

.chat-owner .chat-img {
    top: 10px;
    right: 10px;
}

.main-chat-div {
    padding: 15px 0 0;
}

.main-chat-grid {
    padding-right: 0;
}

.chat-message {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
}


.chat-message .chat-img {
    top: auto;
    bottom: 0;
}

.chat-time {
    right: calc(100% + 10px);
    left: auto;
}

.chat-bubble {
    position: relative;
    max-width: 100%;
    background: #F8F8F8;
    border-radius: 10px 50px 10px 10px;
    -webkit-border-radius: 10px 50px 10px 10px;
    -moz-border-radius: 10px 50px 10px 10px;
    -ms-border-radius: 10px 50px 10px 10px;
    -o-border-radius: 10px 50px 10px 10px;
    padding: 15px 20px 15px 10px;
    line-height: 28px;
    display: inline-block;
    max-width: 820px;

}

.reciever {
    text-align: left;
}

.reciever .chat-bubble {
    background: #FFF8EF;
    border-radius: 50px 10px 10px 10px;
    -webkit-border-radius: 50px 10px 10px 10px;
    -moz-border-radius: 50px 10px 10px 10px;
    -ms-border-radius: 50px 10px 10px 10px;
    -o-border-radius: 50px 10px 10px 10px;
    padding: 15px 10px 15px 20px;
    text-align: right;
}

.reciever .chat-time {
    right: auto;
    left: calc(100% + 10px);
}

.reciever .chat-img {
    left: 0;
    right: auto;
}

.inner-chat-div {
    height: 380px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.chat-contant-grid {
    padding-left: 0;
}

.main-chat-owner {
    padding: 0 15px;
}


.ch-att textarea {
    min-height: 20px;
    border-color: #d5a060;
    background: #fff;
    padding-right: 50px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.ch-att textarea:focus {
    background: #FFF3E5;
    border-color: #C36F09;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.chat-attch {
    padding: 15px;
}

.ch-att {
    position: relative;
    padding-left: 110px;
}

.attach-file {
    position: absolute;
    right: 10px;
    top: 7px;
    border-left: 1px solid #AAA7A7;
    padding-left: 10px;
    height: 34px;
    cursor: pointer;
}

.attach-file label {
    color: #AAA7A7;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 0;
}

.attach-file:hover label {
    color: #C36F09;
}

.attach-file:hover {
    border-color: #C36F09;
}

.chat-attch .custom-btn {
    max-width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.clear-close {
    position: absolute;
    color: red;
    left: 120px;
    top: 15px;
    cursor: pointer;
}


.users-close {
    height: 50px;
    width: 50px;
    background: #d5a060;
    bottom: 10px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.res-user {
    position: absolute;
    top: -23px;
    background: #d5a060;
    left: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 9;
    color: #fff;
    font-size: 18px;
    box-shadow: inset 0 0 10px #c77a09;
}

.chat-bubble img {
    max-height: 100px;
}

.light-bg2 .form-control,
.light-bg2 .select2-container--bootstrap4 .select2-selection {
    background: transparent;
}

.profile-data .left-product-grid {
    padding-bottom: 0;
}
.two-div {
    position: relative;
    display: inline-block;
}
.delete-image {
    position: absolute;
    background: #f00;
    top: 0px;
    line-height: 0px;
    width: 16px;
    color: #fff;
    font-size: 12px;
    padding: 8px 0px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer; 
    right: 0px;  
}
.page-item {
    border: none;
    margin: 0px 6px;
}
.page-item a {
    color: #2b2b2b;
    width: 30px;
    height: 30px ;
    border-color: #A49E9E;
    border-radius: 5px;
    padding: 3px 0px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}


.page-item a:hover {
    border: 1px solid #2b2b2b;
    background-color:#2b2b2b;
    color: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #C36F09;
    background-color: transparent;
    border-color: #C36F09;
    border-radius: 5px;
    height: 30px;
    padding: 3px 0px;

    width: 30px;
}

.pagination li:last-of-type .page-link{
    background:#FFF1DE ;
    color: #ccc;
    height: 30px;
    width: 30px;
    padding: 3px 0px;
    border-radius: 5px;
    border-color:#FFF1DE;
}
.pagination li:first-of-type .page-link{
    background:#FFF1DE ;
    color: #ccc;
    height: 30px;
    width: 30px;
    padding: 3px 0px;
    border-radius: 5px;
    border-color:#FFF1DE;
}
.paginate-center {
    text-align: center !important;
    margin: auto;
}

#code-copy {
    cursor: pointer;
}

span.count-message {
    background: #171717;
    color: #fff;
    display: block;
    width: 26px;
    height: 26px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    padding: 3px 0px;
    position: absolute;
    text-align: center;
}

.unread-message {

    background: #e0bc91;

}
.list-unstyled li {
    position: relative;
}
span.count-unread {
    background: #fff;
    color: #000;
    width: 16px;
    font-size: 12px;
    position: absolute;
    height: 16px;
    text-align: center;
    display: block;
    right: 6px;
    border-radius: 50%;
    z-index: 99;
    top: 4px;
}


/*  */


  
  @keyframes bob {
    0% {
      top: 0;
    }
    50% {
      top: 0.2em;
    }
  }


  
  .scene {
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    color: white;
    font-size: 2em;
    font-family: helvetica;
    font-weight: bold;
  }
  
  .sheep {
    display: inline-block;
    position: relative;
    font-size: 1em;
    text-align: center;
    margin: auto;
    direction: ltr;
}
  .sheep * {
    transition: transform 0.3s;
  }
  .sheep .top {
    position: relative;
    top: 0;
    animation: bob 1s infinite;
  }
  .sheep:hover .head {
    transform: rotate(0deg);
  }
  .sheep:hover .head .eye {
    width: 1.25em;
    height: 1.25em;
  }
  .sheep:hover .head .eye:before {
    right: 30%;
  }
  .sheep:hover .top {
    animation-play-state: paused;
  }
  .sheep .head {
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    background: #211e21;
    vertical-align: middle;
    position: relative;
    top: 1em;
    transform: rotate(30deg);
    z-index: 3;
  }
  .sheep .head:before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 50%;
    background: #211e21;
    position: absolute;
    bottom: 0;
    right: -10%;
    border-radius: 50% 40%;
  }
  .sheep .head:hover .ear.one, .sheep .head:hover .ear.two {
    transform: rotate(0deg);
  }
  .sheep .head .eye {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: white;
    position: absolute;
    overflow: hidden;
  }
  .sheep .head .eye:before {
    content: '';
    display: inline-block;
    background: black;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: all 0.3s;
  }
  .sheep .head .eye.one {
    right: -2%;
    top: 1.7em;
  }
  .sheep .head .eye.two {
    right: 2.5em;
    top: 1.7em;
  }
  .sheep .head .ear {
    background: #211e21;
    width: 50%;
    height: 30%;
    border-radius: 100%;
    position: absolute;
  }
  .sheep .head .ear.one {
    left: -10%;
    top: 5%;
    transform: rotate(-30deg);
  }
  .sheep .head .ear.two {
    top: 2%;
    right: -5%;
    transform: rotate(20deg);
  }

  .sheep .legs {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 1;
  }
  .sheep .legs .leg {
    display: inline-block;
    background: #141214;
    width: 0.5em;
    height: 2.5em;
    margin: 0.2em;
  }
  .sheep:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 112%;
    width: 100%;
    height: 10%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  
.center-sheep {
    text-align: center;
    margin: 38px 0px 88px;
}
.sheep .body {
    display: inline-block;
    width: 7em;
    height: 7em;
    background: #f3dec5fa;
    border-radius: 100%;
    position: relative;
    vertical-align: middle;
    margin-right: -3em;
    z-index: 2;
}


.text-not-fount {
    margin: auto;
    text-align: center;
    color: #2b2b2b;
    font-size: 29px;
}
.center-sheep {
    text-align: center;
    margin: 38px 0px 88px;
    width: 100%;
}

<<<<<<< HEAD

.big-inputs .small-input-add {
    width: 90px;
    display: inline-block;
    float: left;
    margin-top: -6px;
    height: 40px !important;
    padding: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    color:#fff;
}

.direction-add-col {
    min-height: 60px;
}
=======
>>>>>>> d7d1904f47785f02320bccfa496a93519b1548e7
