@media only screen and (min-width:1400px) {
    .container {
        max-width: 1380px;
    }

    .full-search .custom-btn {
        width: 140px;
    }

}

@media only screen and (max-width:1400px) {

    .profile-data .product-details {
        display: block;
        width: 100%;
        padding-right: 0;
        margin-top: 20px;
    }


    .profile-data .product-details {
        text-align: right;
    }

    .profile-data .product-description ul li {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: right !important;
    }

    .main-slide-item {
        height: 350px;
    }

    .slider-caption a {
        margin-top: 20px;
    }
    
}

@media only screen and (max-width:1200px) {
    .lg-center {
        text-align: center
    }

    .main-logo img {
        max-width: 150px;
    }

    .main-logo {
        margin-left: 10px;
    }

    .select-width {
        padding-left: 15px;
    }

    .search-btn {
        margin-right: 3px;
    }

    .full-search .select-div {
        margin: 0 3px;
        width: calc(100%/3 - 27px);
    }

    .progress-wrap {
        top: -6px;
        right: -5px;
        width: 85px;
        height: 83px;
    }

    .full-search .custom-btn {
        width: 140px;
    }

    .add-product-form .custom-file-div input~label {
        height: 150px;
    }

   
}

@media only screen and (max-width:992px) {
    .md-center {
        text-align: center
    }

    .logo-grid {
        order: 2;
        margin-top: 15px;
    }


    .search-bg {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        left: 0;
        top: 0;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -moz-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -ms-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -o-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    .search-bg.active {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    header {
        padding: 0 0 15px;
        background: #fff;
    }

    .search-grid {
        background: #f6f6f6;
        padding: 15px;
    }

    .main-icons-grid {
        margin-top: 0;
        padding-top: 0;
        border-top: none
    }

    .main-search {
        width: 90%;
        max-width: 400px;
        margin: auto;
    }


    .main-slide-item {
        height: 300px;
    }

    header {
        position: relative;
    }

    .scroll_progress {
        position: fixed;
        bottom: auto;
        z-index: 1;
        top: 0;
        border: none;
        height: 4px;
    }

    .scroll_progress div {
        background: #2b2b2b;
    }


    .fixed-menu {
        display: block;
        position: sticky;
        bottom: -1px;
        z-index: 9;
        background: #f6f6f6;
        border-top: 1px solid #e4e1e1;
        animation: slideInUp 1s cubic-bezier(0.23, 1, 0.320, 1) both;
        -webkit-animation: slideInUp 1s cubic-bezier(0.23, 1, 0.320, 1) both;
    }

    .fixed-menu .col:not(:last-of-type) {
        border-left: 1px solid #e4e1e1;
    }

    .fixed-menu a,
    .fixed-menu button {
        color: #c3c3c3;
        border: none;
        background: none;
        font-size: 20px;
        height: 60px;
        line-height: 60px;
        display: block;
        text-align: center;
        margin: auto;
    }

    .fixed-menu .active {
        background: #fff;
    }

    .fixed-menu .active a,
    .fixed-menu .active button {
        color: #2b2b2b;
    }

    .favourite-checkbox {
        position: static;
        width: auto;
        display: inline-block;
        margin-right: 11px;
    }

    .left-product-grid {
        margin-top: 20px;
        padding-bottom: 0;
    }

    .product-div:before {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }


    .hover_btn {
        left: auto;
        right: 100%;
    }

    .hover_btn:before {
        background-image: url(../images/main/car3.png);
    }

    .hover_btn span {
        margin-right: 3px;
    }

    .product-div:hover .hover_btn {
        right: 0;
    }

    .socialmedia {
        top: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
    }

    .progress-wrap {
        display: none;
    }

    .pages-header .row {
        height: 275px;
    }

    #map {
        height: 400px !important;
    }

    .profile-data .right-product {
        text-align: center;
    }

    .profile-edit-icon {
        display: inline-block;
        margin: 0px 10px 15px 0;
    }

    .chat-content-list {
        position: fixed;
        right: 0;
        height: 100%;
        top: 0;
        z-index: 99;
        max-width: 320px;
        border-radius: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 70px;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        opacity: 0;
        transition: all .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transition: all .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition: all .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .chat-content-list.active {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .chat-users {
        height: auto;
    }

    .main-chat-grid {
        padding-right: 15px;
    }
}

@media only screen and (max-width:767px) {
    .sm-center {
        text-align: center
    }

    .owl-item.active .slider-caption {
        width: 100%;
        max-width: 100%;
    }

    .main-slider .owl-dots {
        top: calc(100% - 50px);
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        left: 0;
        width: auto;
        right: 0;
        margin: auto;
        margin-bottom: 0;
    }

    .main-slider .owl-dots .owl-dot {
        display: inline-block;
    }

    .product-details {
        display: block;
        width: 100%;
        padding-right: 0;
        margin-top: 20px;
    }

    .right-product {
        text-align: center;
    }

    .product-details {
        text-align: right;
    }

    .product-description {
        overflow-x: hidden;
        overflow-y: auto;
        height: 150px;
    }

    .product-description ul li {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
        text-align: right !important;
    }

    .sm-order-2 {
        order: 2;
    }

    .sm-order-3 {
        order: 3;
    }

    .sm-order-4 {
        order: 4;
    }

    .sm-order-5 {
        order: 4;
    }

    .margin-div {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #map2 {
        height: 300px;
    }

    .bank-div ul li span {
        display: block;
    }

    .slider-caption a{
        margin-top: 10px;
    }
}

@media only screen and (max-width:576px) {
    .xs-center {
        text-align: center
    }

    .main-logo {
        display: block;
        margin: 10px auto;
    }

    .logo-grid {
        margin-top: 0;
    }

    .main-slide-item {
        height: 250px;
    }
    .slider-caption{
        padding: 10px;
    }
    .slider-caption a {
        margin-top: 5px;
    }
    .slider-caption p {
        color: #fff;
        line-height: 28px;
        font-size: 14px;
    }
    .owl-item.active .slider-caption {
        animation: fadeInDown .5s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .3s;
        -webkit-animation: fadeInDown .5s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .3s;
    }

    .search-btn-grid {
        display: block;
    }

    .search-btn {
        width: 100%;
        margin-bottom: 15px;
    }

    .full-search .reverse-searvh-btn {
        width: 48px;
    }

    .search-btn span {
        display: inline-block;
    }

    .select-width {
        padding-right: 15px;
    }

    .full-search .select-div {
        margin: 0;
        width: 100%;
    }



    .full-search {
        background: #eee;
        padding-top: 20px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .full-search .form-group {
        margin-bottom: 15px;
    }

    .fixed-menu a,
    .fixed-menu button {
        font-size: 18px;
        height: 55px;
        line-height: 55px;
    }

    .hover_btn {
        display: none;
    }


    .footer-logo-grid a {
        position: relative;
        margin: auto auto 20px;
        display: block;

    }

    .copyright a {
        display: block;
    }

    .footer-logo {
        padding-right: 0;
    }

    .socialmedia ul li span {
        display: none;
    }

    .socialmedia,
    .socialmedia li a {
        width: auto;
    }

    .socialmedia i {
        position: static;
    }

    footer {
        padding: 15px 0 0;
    }

    .load-more {
        font-size: 20px;
        padding-bottom: 30px;
        margin: 10px auto;
    }

    .copyright a {
        margin-bottom: 5px;
    }

    .directions-append .row>div:first-of-type {
        padding-left: 0;
    }

    .nav-tabs .nav-link {
        min-width: auto;
        margin: 5px 5px;
    }

    .category-content {
        max-width: 350px;
    }

    .add-product-form .custom-file-div input~label {
        height: 125px;
    }

    .add-product-form .circle-item {
        padding-top: 0;
        padding-bottom: 0;
    }

    .add-product-form .circle-item:before {
        top: 10px;
    }

    .main-profile-div {
        padding: 20px 15px;
    }
   
}

@media only screen and (max-width:576px) and (min-width:451px) {
    .socialmedia {
        position: static;
        width: auto;
        margin-top: 20px;
    }

    .socialmedia li a {
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #D5A060;
    }

    .socialmedia li a:hover {
        color: #D5A060;
    }

    .socialmedia ul li {
        display: inline-block;
    }

    .footer-lists-grid {
        padding-left: 15px;
    }


}

@media only screen and (max-width:450px) {
    .footer-lists-grid .col-6 {
        max-width: 100%;
        flex: 0 0 100%
    }

    .socialmedia {
        left: 15px;
        top: 20%;
    }

    .footer-lists-grid {
        padding-left: 53px;
    }

    .pages-header .row {
        height: 200px;
    }

    .page-header-content h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .main-product-details .circle-list {
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #FFF1DE;
        margin-top: 20px;
        padding: 0 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .main-product-details .circle-list .row>div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-tabs {
        padding: 10px;
    }

    .tab-pane {
        padding: 0 10px;
    }

    .tab-content {
        padding-top: 30px;
    }

    #map2 {
        height: 250px;
    }

    .checkbox-has-img img {
        max-width: 75px;
    }

    .payment-methods .custom-checkbox input~label {
        height: 100px;
        padding-right: 10px;
    }

    .checkbox-has-img input~label:before {
        left: 14px;
    }

    .checkbox-has-img input~label:after {
        left: calc(14px + 3px);
    }

    .chat-content-list {
        max-width: 270px;
    }
}