.main-menu .navigation li > a > svg, .main-menu .navigation li > a > i, .main-menu .dropdown-menu svg, .main-menu .dropdown-menu i, .main-menu .dropdown-user > a > svg, .main-menu .dropdown-user > a > i, .main-menu .navigation > li > a > svg, .main-menu .navigation > li > a > i {
  float : right;
}

.main-menu .navigation > li ul li > a {
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display :         flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -ms-flex-align : center;
          align-items : center;
}

.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:after, .vertical-layout.vertical-overlay-menu.menu-open .main-menu .navigation li.has-sub > a:after {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.vertical-layout.vertical-menu-modern.menu-expanded
.main-menu
.navigation
li.has-sub.open:not(.menu-item-closing) > a:after {
  -webkit-transform : rotate(90deg);
      -ms-transform : rotate(90deg);
          transform : rotate(90deg);
}

.horizontal-menu .header-navbar.navbar-horizontal .dropdown-menu .dropdown-toggle::after {
  background-image : url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%236e6b7b\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-left\'%3E%3Cpolyline points=\'15 18 9 12 15 6\'%3E%3C/polyline%3E%3C/svg%3E');
}

.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu {
  top : 48px !important;
}

.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu::before {
  top : 1px;
}

.header-navbar .dropdown .dropdown-menu.dropdown-menu-right::before, .header-navbar .dropup .dropdown-menu.dropdown-menu-right::before {
  right : auto;
  left : 0.5rem;
}

.dropdown .dropdown-menu, .dropup .dropdown-menu, .btn-group .dropdown-menu {
  right : auto !important;
  top : 0 !important;
  left : auto !important;
}

.dropdown .dropdown-menu.dropdown-menu-right, .dropup .dropdown-menu.dropdown-menu-right, .btn-group .dropdown-menu.dropdown-menu-right {
  left : 0 !important;
}

.dropdown .dropdown-menu.dropdown-menu-right::before, .dropup .dropdown-menu.dropdown-menu-right::before, .btn-group .dropdown-menu.dropdown-menu-right::before {
  right : 0.6rem;
  left : auto;
}

.dropleft .dropdown-toggle::before {
  background-image : url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%23fff\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-right\'%3E%3Cpolyline points=\'9 18 15 12 9 6\'%3E%3C/polyline%3E%3C/svg%3E') !important;
}

.dropleft .dropdown-menu {
  left : 0 !important;
  margin-left : 0;
  margin-right : 0.5rem;
}

.dropright .dropdown-toggle::after {
  background-image : url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%23fff\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-left\'%3E%3Cpolyline points=\'15 18 9 12 15 6\'%3E%3C/polyline%3E%3C/svg%3E') !important;
}

.dropright .dropdown-menu {
  left : 0 !important;
  margin-right : 0;
  margin-left : 0.5rem;
}

.input-group .dropdown-menu.show {
  top : 0 !important;
  right : auto !important;
  left : 0 !important;
}

.toast {
  right : 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left : 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  float : right;
}

.select2-search__field {
  direction : rtl;
}

.chartjs-render-monitor {
  margin-right : 1rem;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align : left !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before {
  right : 0.45rem;
}

.avatar-group .avatar {
  margin-right : -0.785rem;
  margin-left : 0;
}

.avatar-group .avatar-sm {
  margin-right : -0.65rem;
}

.avatar-group .avatar-lg {
  margin-right : -1.5rem;
}

.avatar-group .avatar-xl {
  margin-right : -1.85rem;
}

.breadcrumb:not([class*='breadcrumb-']) .breadcrumb-item + .breadcrumb-item:before, .breadcrumb.breadcrumb-chevron .breadcrumb-item + .breadcrumb-item:before {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.pagination .page-item.prev-item .page-link:before, .pagination .page-item.prev .page-link:before, .pagination .page-item.previous .page-link:before {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.pagination .page-item.prev-item .page-link:hover:before, .pagination .page-item.prev-item .page-link:active:before, .pagination .page-item.prev .page-link:hover:before, .pagination .page-item.prev .page-link:active:before, .pagination .page-item.previous .page-link:hover:before, .pagination .page-item.previous .page-link:active:before {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.pagination .page-item.prev-item.disabled .page-link:before, .pagination .page-item.prev.disabled .page-link:before, .pagination .page-item.previous.disabled .page-link:before {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.pagination .page-item.next-item .page-link:after, .pagination .page-item.next .page-link:after {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.pagination .page-item.next-item .page-link:hover:after, .pagination .page-item.next-item .page-link:active:after, .pagination .page-item.next .page-link:hover:after, .pagination .page-item.next .page-link:active:after {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.pagination .page-item.next-item.disabled .page-link:before, .pagination .page-item.next.disabled .page-link:before {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

code[class*='language-'], pre[class*='language-'] {
  direction : ltr;
}

@media print {
  code[class*='language-'], pre[class*='language-'] {
    text-shadow : none;
  }
}

.fc .fc-header-toolbar .fc-right .fc-button.fc-prev-button .fc-icon {
  right : 4px !important;
}

.fc .fc-header-toolbar .fc-right .fc-button.fc-next-button .fc-icon {
  left : -3px !important;
}

.carousel-control-next {
  left : auto;
  right : 0;
}

.carousel-control-prev {
  left : 0;
  right : auto;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^='left'] .arrow::before {
  border-width : 0.4rem 0 0.4rem 0.4rem;
  border-left-color : #323232;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^='left'] .arrow {
  right : 0;
  left : auto;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^='right'] .arrow::before {
  border-width : 0.4rem 0.4rem 0.4rem 0;
  border-right-color : #323232;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^='right'] .arrow {
  left : 0;
  right : auto;
}

.popover {
  right : auto !important;
}

.progress-bar-animated {
  -webkit-animation : progress-bar-stripes 40s linear infinite;
          animation : progress-bar-stripes 40s linear infinite;
}

body .ps__rail-y {
  right : auto !important;
  left : 1px !important;
}

.faq-navigation img, .pricing-free-trial .pricing-trial-img {
  -webkit-transform : scaleX(-1);
      -ms-transform : scaleX(-1);
          transform : scaleX(-1);
}

.feather-chevron-left, .feather-chevron-right {
  -webkit-transform : rotate(-180deg) !important;
      -ms-transform : rotate(-180deg) !important;
          transform : rotate(-180deg) !important;
}

.kanban-application .kanban-container .kanban-item i, .kanban-application .kanban-container .kanban-item svg {
  margin-right : 0 !important;
  margin-left : 0.25rem;
}

.invoice-list-wrapper .dataTables_filter input {
  margin-left : 0 !important;
  margin-right : 0.5rem;
}

.invoice-list-wrapper .dropdown .dropdown-menu.dropdown-menu-right {
  left : 2rem !important;
}

.file-manager-application .sidebar-file-manager .sidebar-inner .my-drive .jstree-node.jstree-closed > .jstree-icon {
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
          transform : rotate(180deg);
}

.form-label {
  margin-bottom: 10px;
  font-size: 14px;
}


.swal2-styled.swal2-confirm{
  background: #000 !important;
}


.iti__flag-container,.iti__country-list{
  direction:ltr
}

.iti__selected-flag {
  height: 37px !important;
}

.dataTables_wrapper .row{
  margin: 0;
}

.page-item.prev .page-link:before, .page-item.previous .page-link:before{
  transform: scale(-1);
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
}
@media screen and (max-width: 767px){
div.dataTables_wrapper div.dataTables_filter {
  text-align: center !important;
}
}